<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product description template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */


// get current page URL
$URL = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);

// get current product name & ID
$objectManager  = \Magento\Framework\App\ObjectManager::getInstance();
$product        = $objectManager->get('Magento\Framework\Registry')->registry('current_product'); //get current product


$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category'); 
$id 	  = $product->getId();
$title 	= $product->getName(); ?>
<div class="endet_it_sec">
    <p>Endet in: 3 Tagen, 4 Stunden</p>
</div>
<div class="about_pro">
    <h4><?php //echo $category->getName(); ?></h4>
    <h3><?php echo $title; ?></h3>
</div>




