.page-footer {
    background: #A09284 !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
}

.nav-sections {
  display: none;
}

.page-footer footer {
    height: auto;
    padding-top: 0px;
    position: relative;
}

.voucher {
  margin-top: 0;
}
.cms-home .nav-sections {
  margin-top: 0;
  margin-bottom: 0;
}
.cms-home .block-static-block {
  margin-top: 0;
  margin-bottom: 0;
}
.home-landing {
      position: relative;
}
.welcome_sec, .added_value_sec, .sales_event_sec{
   background: #fff;
}

  .land-over {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background: rgba(0,0,0,.5);
    position: fixed;
    z-index: 99999;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .middle .logo {
    float: none;
    margin: 0;
    max-width: none;
  }
   header ul li a {color: #72726A !important;}

   .tp-seller .item {
    display: inline-block;
   }

   .topSellers ul li {
    width: 20%;
    text-align: center;
    margin: 0px 0 60px 0;
    }

    .topSellers {
    border-bottom: 1px solid;
    border-color: rgba(137,135,135,0.3);
    }
    .product .box .left .ends h6 {margin: 0;}

    .product .right .btn {line-height: 32px; text-align: center;}

    .product .right ul li {
    margin-bottom: 0;
     }
     .topSellers ul {
       padding: 30px 0 0 0;
     }

     .topSellers ul .iten_inner_img {
    min-height: 125px;
    }
     footer .footer-middle li h6 {margin: 0;}

     footer .footer-middle li {margin-bottom: 0;}

     footer .footer-middle li a {color:#fff;}

     .follow .up-arrow {right: -96px;}

     .cl-seller ul li:nth-child(1n+10) {
        display: none;
     }
      .cl-seller ul li {
        width: 33.3%;
        margin-bottom: 20px;
      }
     .cl-seller ul li  .iten_inner_img {min-height: 125px;}

     .customer-account-forgotpassword .home-landing, .customer-account-login .home-landing, .customer-account-create .home-landing {
      display: none;
     }

     .member-login {
      display: none;
      width: 30%;
      margin: auto;
    }

     .member-login .block-customer-login {
      margin-top: 30px;
      display: inline-block;
      width: 100%;
     }

     .member-regstr {
      width: 40%;
      margin: auto;
      display: none;
      }
      .member-regstr .form-create-account {
       display: inline-block;
       margin-top: 30px;
      }
      .member_regstr {
       display: none;
      }
      .follow .box-center {z-index: 1;}

      .breadcrumbs { margin-top: 15px; margin-bottom: 0;}

      .category-view .category-image {
            display: inline-block; 
            float: left;
      }
      .category-view .page-title-wrapper {
              display: inline-block;
              vertical-align: top;
              width: 43%;
              text-align: center;
          }

     .category-view .category-description {
       display: inline-block;
    width: 41%;
    vertical-align: top;
    text-align: center;
    min-height: 290px;
    margin: 0 0 0 16px;
    border-bottom: 2px dotted;
    border-color: rgba(143,137,117,2);
      }

      .category-view .category-description p {
       padding: 0 80px 0 80px;
       font-size: 14px;
       font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #6C6A58;
         line-height: 21px;
       }

       .category-view .page-title {
         padding-top: 20px;
          font-family: 'Conv_TIMESBD';
          font-size: 26px;
          color: #757165;
          padding-bottom: 5px;
         }
         .toolbar-products {
          display: inline-block;
           width: 100%;
           }
           .tool-top .toolbar {text-align: left; margin-bottom: 0;}

           .tool-top .modes, .tool-top .toolbar-amount, .tool-top .pages, .tool-top .limiter {display: none;}

           .tool-btm  {display: none;}

           .tool-btm .modes, .tool-btm .toolbar-amount, .tool-btm .pages, .tool-btm .limiter, .tool-btm .sorter {display: none;}

           .tool-top .sorter { float: none; }

           .sortProduct .products {margin: 0 0 40px 0;} 

           .sortProduct .products .box {width: 30% !important;}

           .products .product-item-inner {display: none !important;}

           .sortProduct .products .product-item-info {
            box-shadow: none;
            border: none;
            margin: 0px;
            padding: 0;
            display: inline-block;
           }
           .sortProduct .products .description {height: auto; margin-top: 10px;}

           .products .old-price .price-label {display: none;}
           .products .old-price .price {text-decoration: line-through; padding-left: 5px; font-size: 13px; letter-spacing: 1.25px;}
           .products .special-price .price {
             color: #6C6A58;
             font-family: 'Roboto', sans-serif;
             font-weight: 500;
             font-size: 13px;
             padding-bottom: 10.855px;
             letter-spacing: 1.25px;}
           .product-item-info .product-item-details {padding: 0;}
           .product-item-info .name {padding: 0; margin: 0;}
           .product-item-info .price-box { margin: 0px 0 10px; }
           .product-item-info .actions-primary .tocart  {
               width: 100%;
               margin: 0 0 10px 0;
               background: #EB5C36;
               border: 0;
               color: #fff;
               font-family: 'Roboto', sans-serif;
               font-weight: 700;
               font-size: 14px;
            }
           .product-item-info .name .product-item-link {
            color: #7C7962;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 1.25px;}
           .product-item-info .product-item-photo {padding: 0;}

           .page-products .product-item-info { width: 100% !important;}

           .sortProduct .dropProduct {height: 25px; padding: 0px 10px;}

           .toolbar-sorter .sort-asc {display: none;}

           .product-item-info .actions-primary {
             position: relative;
             display: inline-block;
             width: 100%;
           }
           .product-item-info .actions-primary .tocart {
             position: absolute;
             bottom: -13px;
            left: 0;
           z-index: 999999;
           }

           .sorter .sorter-options {
            background-image: none;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
}


.otherSales .strip:nth-child(1n+2) {display: none;}

.otherSales .view-all {display: none;}

.otherSales .owl-pagination {display: none;}

.otherSales .owl-buttons .owl-prev {
    left: -30px;
    position: absolute;
    top: 50px;
    font-size: 0 !important;
    background-image: url("../images/pro_re_left_arrow.png") !important;
    background-repeat: no-repeat !important;
        height: 72px;
    background-color: #fff !important;
    opacity: 1 !important;
}

.otherSales .owl-buttons .owl-next {
    position: absolute;
    right: -25px;
    top: 50px;
    font-size: 0 !important;
    background-image: url("../images/pro_re_right_arrow.png") !important;
    background-repeat: no-repeat !important;
        height: 72px;
    background-color: #fff !important;
    opacity: 1 !important;
}
.otherSales .description h5 {margin: 0;}
.otherSales .description h5 a {
    font-size: 21px;
    color: #6C6A58;
    font-family: 'Conv_TIMESBD';
    text-transform: capitalize;

    }

.otherSales .space .btn {line-height: 28px;}

.otherSales .box {list-style: none;}

.minicart-wrapper .showcart:before {
    display: none !important;
    content: none !important;
  }

  .head-mini-cart .showcart .counter.qty {
     display: block !important;
     position: absolute;
    width: 23px;
    height: 23px !important;
    border-radius: 50% !important;
    background-color: #EA5B34 !important;
    color: #ffffff !important;
    top: -10px;
    left: -15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  .head-mini-cart .showcart .counter-number {
    text-shadow: none !important;
   }

   .icon-top .up-arrow {
    position: absolute;
    top: -117px;
    right: -96px;
    cursor: pointer;
    }

    /* Product Page css   */

    .product-info-main .product-reviews-summary{
      display: none;
    }

    .product-info-main .product-info-stock-sku {display: none;}
    .breadcrumbs .product {padding: 0;}
    .product-info-main .page-title-wrapper {padding-top: 45px;}

   .product-info-main .page-title-wrapper h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #646658;
    text-align: center;
    border-bottom: 2px dotted #868474;
    letter-spacing: 1px;
    padding-bottom: 18px;
    margin-bottom: 0px;
}
  .product.media {padding-top: 0px;}
  .product-info-main .product-info-price {
    width: 100%;
    padding-top: 30px;
    border-bottom: none;
    margin-bottom: 0px;
  }

  .product-info-price .special-price .price {
    font-size: 28px !important;
    color: #646658;
    padding: 12px 45px 12px;
    display: inline-block;
    line-height: 22px !important;
    font-weight: 400 !important;
  }
  .product-info-price .old-price .price {
    font-size: 28px !important;
    padding: 12px 45px 12px;
    display: inline-block;
    color: #8B8E82;
    line-height: 22px !important;
    text-decoration: line-through;
  }
  .product-info-price .old-price .price-label {
   
  }
  .catalog-product-view #related .product { width: 93%;}

  .catalog-product-view #related .product:hover .product-item-info {
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .catalog-product-view #related .product .product-item-info {width: 100%;}

  .catalog-product-view #related .product-item-name {
    margin: 0;
    width: 100%;
   }
   #related .owl-pagination {display: none;}

   #related .owl-buttons .owl-prev {
    left: -30px;
    position: absolute;
    top: 90px;
    font-size: 0 !important;
    background-image: url("../images/pro_re_left_arrow.png") !important;
    background-repeat: no-repeat !important;
    height: 72px;
    background-color: #fff !important;
    opacity: 1 !important;
}

#related .owl-buttons .owl-next {
    position: absolute;
    right: -25px;
    top: 90px;
    font-size: 0 !important;
    background-image: url("../images/pro_re_right_arrow.png") !important;
    background-repeat: no-repeat !important;
    height: 72px;
    background-color: #fff !important;
    opacity: 1 !important;
}

.catalog-product-view .topSellers.other_sales_pro {
    margin-bottom: 0;
    border: none;
}
.catalog-product-view .products-related {margin: 0;}

.rel-all {
    display: inline-block;
    width: 100%;
    text-align: center;
}
     


    /* Product Page css   */



     @media (max-width:1207px){

     }

     @media (max-width:1023px){

     }

     @media (max-width:991px){

     }

     @media (max-width:767px){
      .middle .nav-toggle:before {display: none;}
      .topSellers ul li {
        width: 33.3%;
       }
       .topSellers ul li:last-child {
        padding: 0 30px;
       }
       .topSellers ul .iten_inner_img {
        min-height: 45px;
        }
        .topSellers {border: none;}
        .page-footer {
          display: block;
          background: none !important;
          min-height: auto;
          padding-top: 0;
        }
        .page-footer footer {
           display: none;
        }
        .page-footer .foot-mobile { display: block;}

        .foot-mobile .panel {max-height: none; display: none;}

        .cl-seller ul li:nth-child(1n+4) {
        display: none;
       }

       .tp-seller ul li:nth-child(1n+10) {
        display: none;
       }
 
       .cl-seller ul li  .iten_inner_img {
        min-height: 45px;
       }

       .product .left .image {
            margin-bottom: 20px; height: auto;
       }
       .footer .panel p a {color:#737266;}

     }

     @media(max-width:360px){

     }




     /****************************************** Css Written by Bitu Singh **********************************************/
.pro_order_desc .about_pro h3, .pro_order_desc .about_pro h4 {
    margin: 0px;
    line-height: normal;
}    

.product-info-price .price-box .special-price .price-container, .product-info-price .price-box .old-price .price-container {
    color: #9f9786;
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
}
.product-info-price .price-box .special-price .price-container .price {
    color: #646658;
    display: inline-block;
    font-size: 28px;
    padding: 12px 45px;
    line-height: normal;
    font-weight: normal;
}

.product-info-price .price-box .special-price .price-container .price-label {
    color: #9f9786;
    display: inline;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 23px;
    overflow: visible;
    position: relative;
    width: auto;
}

.product-info-price .price-box .special-price {
    float: left;
    width: 100%;
}
.product-info-price .price-box .special-price .price-wrapper {
    display: inline;
    float: left;
    width: auto;
}

.product-info-price .price-box .old-price .price-container .price {
    color: #8b8e82;
    display: inline-block;
    font-size: 28px;
    padding: 12px 45px;
    line-height: normal;
    text-decoration: line-through;
    font-weight: normal;
}
.pro_large_img .fotorama-item .fotorama__stage {
    height: 496px !important;
}
.f_common_top #contentarea, page-layout-cms-about-layout #contentarea, .cms-page-view #contentarea {
    display: block;
}




/****************************************** End Css Written by Bitu Singh ******************************************/