* {margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;font-family:'Arial', sans-serif;}
img {max-width:100%;}
a,a:hover {display: inline-block;text-decoration: none;}
a:focus {outline: 0;text-decoration: none;}
.zero-padding {padding: 0;}
.no-margin {margin: 0;}
.text-underline {text-decoration: underline;}
.full-width {float: left;width: 100%;}
.btn-group:focus{outline:none;}
.btn-group{padding:0;}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle{box-shadow: none;outline:0;}
ul{margin-bottom:0;}
.btn{border-radius: 0;}
.dropdown-menu{padding:0;}
p{margin:0;}
.list-inline{margin-left:auto;}
.list-unstyled{list-style: none;}
.list-inline{float:left;}
ul li{float: left;}
.wrapper{background: url(../images/bg.png);background-size: contain;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.container{max-width:100%;width:1208px;margin: 0 auto;}
/*header  */
header{padding:0 0 7px;border-bottom: 1px solid;border-color: rgba(137,135,135,0.3);;height: 120px;}
.col-md-1 ,.col-md-2 ,.col-md-3 ,.col-md-4 ,.col-md-5 ,.col-md-6 ,.col-md-7 ,.col-md-8 ,.col-md-9 ,.col-md-10 ,.col-md-11 ,.col-md-12{float:left;}
/* .col-xs-1 ,.col-xs-2 ,.col-xs-3 ,.col-xs-4 ,.col-xs-5 ,.col-xs-6 ,.col-xs-7 ,.col-xs-8 ,.col-xs-9 ,.col-xs-10 ,.col-xs-11 ,.col-xs-12{float: left;} */

section{float: left;width:100%;}



/* header .middle h2 a{font-family: 'EB Garamond', serif;font-size:65px;font-weight: 800;color:#72706B;} */
header .bottom p ,header .dropdown-toggle.btn-select{font-family: 'Open Sans', sans-serif;font-size:12.5px;color:#808285;padding:0;font-weight:700;}
/* header .bottom .badge{border: 1px dotted #d1d2d4;background: transparent;color: #7B7975;border-radius: 50%;width: 25px;height: 25px;line-height: 21px;font-size: 17px;padding:0;font-family: "scriptmtbold";font-size: 17.24px; } */

header .bottom{float:left;width:100%;}
header .bottom .menu-left .first{font-family: 'Open Sans', sans-serif;font-size:12px;color:#808285;font-weight:700;}
header .bottom .menu-left .second{font-family: 'Open Sans', sans-serif;font-size:10px;color:#A7A9AC;text-decoration: underline;}
header .bottom .btn-select ,header .bottom .btn-group.open{background: url(../images/arrow.png) no-repeat right;background-position: 85px;padding-right: 30px;}
header .header-right span{padding: 0 3px;}
.product .left .timer.change-position{top: 41px;}
.bottom .dropdown-cart .dropbtn span{color:#9DA2A7;font-family: 'Open Sans', sans-serif;font-weight:700;}
.bottom .menu-left .middle{color: rgba(102,103,102,0.25);padding: 0 6px;}

header .top{float: left;width: 100%;margin-top: 10px;}
header .top .menu-left ,header .top .menu-right{display: inline-block}
header .top .menu-left p{font-size:11px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#7C7C6B;}
header .top .menu-right p{font-size:11px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#7C7C6B;}
header .top .menu-right p .font{font-family: 'Conv_segoesc';}
header .middle{text-align: center;float: left;width: 100%;height:55px;margin-top: -20px;}
header .middle a ,header .middle a img{height: 100%;}
header .bottom {float: left;width: 100%;margin-top: 15px;}
header .bottom .list-inline.list-unstyled{display: inline-block;width: 95%;float: none;text-align: center;margin-top: 10px;}
header ul li{float: none;display: inline-block;padding:0 15px;}
header ul li a{font-family: 'Roboto', sans-serif;font-size:13.4px;font-weight: 500;color:#72726A;position: relative;letter-spacing: 1.2px;}
header ul li a.active{border-bottom: 2px solid #F26522;padding-bottom: 3px;}
header .top .menu-right p span.first{letter-spacing:1px;}



.Latest .dropdown-toggle{background: #fff;}
.Latest .dropdown-menu li a:hover{background:#E6B2AE;color:#fff;}
.invite .dropdown-menu{background: #F6F6F6;border: none;box-shadow: none;margin-top: 8px;}
.invite .dropdown-menu li a{word-wrap: break-word; white-space: normal;padding: 0 10px;text-align: center;}
.invite .dropdown-menu li a:hover{background: transparent;}
.invite .dropdown-menu li:first-child a{font-family: 'Conv_Segoe-Script-Bold_39953';font-weight: normal;font-size:27px;color: #7C7874;background:url(../images/line.png) no-repeat center;background-position: 50% 95%;padding: 10px;}
.invite .dropdown-menu li:nth-child(2) a{padding:20px;color:#575757;}
.invite .dropdown-menu li:last-child{padding:0 20px 30px;}
.invite .dropdown-menu li:last-child a{padding: 7px 20px;background:#DADADA;color:#fff;font-size:20px;}
.invite .dropdown-menu li:last-child a:hover{background:#E9BAB6;}
.dropdown-cart{position: relative;display: inline-block;cursor: pointer;margin-right: 30px;}
.dropdown-content {display: none;position: absolute;z-index: 9999;background: #fff;width:500px;right: -120px;top:28px;padding:30px 10px;box-shadow: 0px 4px 15px 0px #ccc;text-align: center;}
.dropdown-cart .dropdown-content p{color:#A89A92;font-size:15px;}
.dropdown-cart:hover .dropdown-content {display: block;}
.dropdown-positon{border: 1px solid ;width: 143.559px;text-align: left;margin-left: 10px;height: 34px;border-color: rgba(128,130,133,0.25);}
.dropdown-positon .dropdown-toggle{width: 100%;text-align: left;}
.dropdown-positon .dropdown-toggle .caret{float: right;margin-top: 8px;}
.dropdown-positon a{color: #918681;}



/* voucher  */
.voucher{margin-bottom:34.911px;margin-top:21.464px;}
.voucher .strip{background:#E176AF;height:39.751px;text-align: center;padding: 14px 0;position: relative;}
.voucher .strip p{font-size:12px;font-family: 'Roboto', sans-serif;color:#fff;font-weight:900;letter-spacing: 0.8px;}
.voucher .strip p span{padding-bottom: 1px;border-bottom: 1px solid #fff;cursor: pointer;}
.voucher .strip img{position: absolute;right: 1%;cursor: pointer;}


/* product  */
.product.no-padding{padding-top:0;}
.product{padding: 32.346px 0 0;}
.product .left{width:664.045px;float: left;}
.product .right{float: left;width:543.494px;}
.product .right ul li{padding:0 28px;}
.product .right .middle{padding: 20px 0;}
.product .text h3{font-family: 'Conv_TIMESBD';font-size:23px;color:#696860;margin: 0;}
.product .left p{font-family: 'Roboto', sans-serif;font-size: 14px;color:#868474;font-weight: 600;letter-spacing: 1.0px;}
.product .left .image{position: relative;float: left;width: 100%;}
.product .left .timer{position: absolute;top:42px;left: 14px;background: url(../images/timer-bg.png)no-repeat;background-size: 142px 86%;width: 146px;height:46px;}
.product .left .timer span{font-family: 'Open Sans', sans-serif;font-size: 12px;color:#868474;display: block;margin:5px 0 0 2px;font-weight:400;}
.product .left .timer span:hover{color:#F1709B;cursor: pointer;}
.product .right .btn{color:#fff;background:#F15C33;font-family: 'Open Sans', sans-serif;font-size:16px;width: 152.418px;height: 34.666px;line-height: 7px;font-weight:700;border:none;border-radius: 3px;cursor: pointer;letter-spacing: 0.6px;}
.product .right .btn:hover ,.product .right .btn:focus, .product .right .btn:active:focus{background: #E6B2AE;color:#fff;box-shadow:none;outline:none;}
.product .right .text-right {
    padding: 20px 0 30px 0;
}
.product .right .row .col-md-4:nth-child(1) ,.product .right .row .col-md-4:nth-child(2) ,.product .right .row .col-md-4:nth-child(3) ,.product .right .row .col-md-4:nth-child(4) ,.product .right .row .col-md-4:nth-child(5) ,.product .right .row .col-md-4:nth-child(6){padding-bottom:30px;}
/* .product .right .image-resize img{width: 70%;height: 100px;} */
.product hr{margin-top: 40px;border-top: 1px solid;border-color: rgba(137,135,135,0.3);}
.product .box{border-bottom: 2px dotted;border-color:rgb(134,132,116);float: left;width: 100%;padding-bottom: 10px;}
.product .box p{display: inline-block;}
.product .box .drop{float: right;}
.product .box .drop p{font-size:12px;font-family: 'Open Sans', sans-serif;color:#808285;font-weight:600;}
.product .drop .dropdown-toggle{font-family: 'Open Sans', sans-serif;font-size: 12px;color:#968B87;font-weight:600;}
.product .box .left .ends{float: left;margin-right: 15px;border-right: 1px solid;padding-right: 15px;height: 49px;border-color:rgb(209,211,212);margin-left:15px;margin-top:0px;}
.product .box .left .ends p{font-size:12px;color:#88897D;font-family: 'Roboto', sans-serif;font-style: italic;font-weight: 500;padding-bottom:2px;letter-spacing:0.5px;}
.product .box .left .ends h6{font-size:20px;color:#727364;font-family: 'Roboto', sans-serif;font-weight:700;}
.product .box .left .text{float:left;padding-bottom: 17.456px;}
.product .box .left h6.color{color: #f15c33;}


/* social links  */
.social-icons li:nth-child(2){padding: 0 5px;}



/* toggle up button  */
.btnUp{padding:100px 0 50px;}
.btnUp .btn ,.btnUp .btn:active:focus ,.view-all .btn ,.view-all .btn:active:focus{border-color:#7b7976;color:#7b7976;background: transparent;border-top-width: 2px;border-right-width: 3px;border-bottom-width:2px;border-left-width:3px;font-family: 'Source Sans Pro', sans-serif;font-size: 15px;font-weight: 700;padding: 3px 60px; box-shadow: none;outline: none;}


/* top seller  */
.topSellers {margin-top:100px;}
.topSellers .top{/* height:27px; */ background: #B9A791;}
.topSellers .top p{font-family: 'Roboto', sans-serif;font-size:19px;font-weight:600;padding-top:2px;color:#fff;letter-spacing: 1.0px;}
.topSellers .top p span{font-style:italic;}
.topSellers ul li{padding: 0 30px;}
.topSellers ul li:last-child{padding-right: 0;}
.topSellers ul{padding: 30px 0;width: 100%;}
.topSellers ul.bottom-border{border-bottom: 1px solid;border-color: rgba(137,135,135,0.3);padding-bottom: 50px;}





.follow{padding-top:101.365px;position: relative;}
.follow .box{height:100%;width:368.289px;float:left;position: relative;}
.follow .box.middle{margin:0 34.602px 0;}
.follow .box:after{position: absolute;content: "";background: rgba(109,110,113,0.3);width: 100%;height:54%;top: 0;left: 0;}
.follow .box .circle{width:100%;height: 231px;}
.follow .center{padding: 0 5px 0;float: left;width: 100%;}
.follow .box-center{position: absolute;top: -43px;margin: 0 auto;left: 0;right: 0;z-index: 9999;}
.follow .inner{position: absolute;top: 71px;z-index: 9999;left: 0;right: 0;}
.follow .inner p{font-family: 'Roboto', sans-serif;font-weight:500;font-size:15px;color: #fff;}
.follow .inner p span{font-family: 'Conv_Segoe-Script-Bold_39953';}
.follow .inner img{height: 106px;}
.follow .button{background-color:#f15c33; border: none;color: #fff;text-align: center;text-decoration: none;font-size:13.5px;width:127.2px;height:27.91px;font-family: 'Roboto', sans-serif;font-weight:700;cursor: pointer;letter-spacing: 0.7px;}
.follow .btn{margin-top: 19.666px;margin-bottom:80px;}
.follow .box .btn span{font-style: italic;}
.follow .up-arrow{position: absolute;bottom: 15px;right: 60px;}


/* footer */
footer{background-color: #A09284;padding-top: 30px;float:left;width: 100%; /* height: 231.483px; */ }
footer .footer-menu{margin:40px 0 20px 0;}
footer .footer-menu li a{font-size: 12px;color:#fff;font-weight: 700;}
footer .social-icons{padding: 24px 0 28px 0;float: left;margin-left: 20px;}

footer .footer-middle{background: url(../images/footer-middle.png) no-repeat bottom;background-size: 100% 2px;padding-bottom: 12.24px;}
footer .footer-middle li{background: url(../images/border.png) no-repeat right;width:296.378px;height: 87.469px;position: relative;}
footer .footer-middle li img{padding-bottom: 4px;height: 30px;position: absolute;top: -12px;left: 0;right: 0;margin: 0 auto;}
footer .footer-middle li:last-child{background:none;}
footer .footer-middle li p{font-size: 13px;color: #fff;font-weight: 700;font-family: 'Roboto', sans-serif;margin-top: 28px;margin-bottom: 10px;letter-spacing: 0.6px;}
footer .footer-middle li h6{font-size: 11px;color: #fff;font-weight: 500;font-family: 'Roboto', sans-serif;letter-spacing: 0.5px;}
footer .bottom{font-size:10px;color:#fff;padding:50px 0 50px;font-weight: normal;}
footer .footer-bottom{text-align: center;float: left;padding: 33.406px 0 30.895px;margin-left: 90px;position: relative;}
footer .footer-bottom li{display: inline-block;float: none;}
footer .footer-bottom li a{font-family: 'Roboto', sans-serif;font-weight: 500;font-size:11px;color:#fff;padding: 0 8px;letter-spacing: 0.3px;}
footer .footer-bottom img{position: absolute;left: -90px;top: 10px;}


/* media query for home page */
 @media only screen and (max-width: 1199px)
 {
     .product .right .row .col-md-4:nth-child(1), .product .right .row .col-md-4:nth-child(2), .product .right .row .col-md-4:nth-child(3) ,.product .right .row .col-md-4:nth-child(4) ,.product .right .row .col-md-4:nth-child(5) ,.product .right .row .col-md-4:nth-child(6) {padding-bottom:5px;}
     .product .right .text-right{padding: 0 0 20px 0;}
     .topselling {margin-top: 20px;}
     .topselling ul li{margin: 0 15px;width: 160px;}
     footer .footer-middle li{padding: 20px 10px;}
     footer .footer-middle li p{font-size: 14px;}
     footer .footer-middle li h6{font-size: 13px;}
 }

  @media only screen and (max-width: 991px)
 {
   
     .product .left .image{height: 300px;}
     .product .left .image img{height:100%;width:100%;}
     .topselling ul {margin-top: 30px;}
     .topselling ul li{margin: 0 5px;width: 132px;}
     .topselling ul li .image img {height: 90px;}
     .topselling ul li .price {margin-top: 15px;}
     footer .footer-middle li{width: 40%;}
     footer .footer-middle li:nth-child(2){background: none;}
 }

  @media only screen and (max-width: 767px)
 {
    header .middle{padding: 20px 0;}
    header .middle h2{margin-top:0;}
    header .middle h2 a{font-size: 60px;}
    .top p{font-size: 11px;}
    .top .header-right {font-size: 10px;}
    .product {padding: 40px 0 0;}
    .product .right .text-right{text-align: left;margin-top:20px;}
    .topselling{margin-top: 15px;}
    .topselling ul {margin-top: 30px;text-align: center;}
    .topselling ul li{margin: 0 0 20px 0;width: 250px;display: block;margin: 20px auto;}
    .topselling ul li:last-child{margin-right:auto;}
    .topselling ul li:first-child{margin-left:auto;}
    footer{margin: 50px 0 0 0px;min-height: 603px;}
    footer .footer-middle li{background: none;padding: 5px 30px;display: block;margin: 0 auto;width:100%;}
    footer .footer-menu {margin: 40px 0 40px 0;}
   .links .social-icons li{display: block;width: 30%;margin: auto;margin-bottom:20px;}
   .links .social-icons li:nth-child(2) {padding: 0;}
   .links {margin: 35px 0 50px;}
   .product .box p {display: block;}
   .product .box .drop {float: left;width: 100%;}
   .product .box .drop p{display: inline-block;}
   .product .box .drop .dropdown-positon{float: none;width: 18%;}
}




 /* sales  */
.sale p{font-family: 'Source Sans Pro', sans-serif;font-size: 13px;font-weight: 600;color:#A4958C;padding-top:10px;}
.sale .left .image{height:390px;} 
.sale .left .image img{height:100%;}
.sale .right h3{font-family: 'EB Garamond', serif;font-size: 37px;font-weight: 600;color: #77776B;margin-top:40px;}
.sale .right h5{font-family: 'Source Sans Pro', sans-serif;font-size:21px;font-weight: 600;color:#77776B;}
.sale .right p{font-family: 'Source Sans Pro', sans-serif;font-size:16px;font-weight: 600;color:#77776B;max-width: 316px;padding: 20px 0;}
.sale-dropdown .dropdown-toggle{color:#928C86;}
.sale-dropdown .dropdown-menu li a:hover{background:#E6B2AE;color:#fff;}
.sale .sale-timer p{background:url(../images/timer.png)no-repeat left;padding-left:25px;color:#A69E93;border-bottom: 1px solid #ccc;max-width: 500px;background-position: 0 18px;padding-top: 13px;}
.photography .text{padding: 100px 0;}
.photography .text p{color:#A4958C;background:url(../images/copyright.png) no-repeat left;padding-left: 22px;margin:0;font-family: 'Source Sans Pro', sans-serif;font-size: 13px;font-weight: 600;}
.product .image-description{border-bottom: 1px solid #B9B6B6;}
.product .image-description .btn {border-radius: 0;width: 93%;padding: 3px;color: #fff;margin-bottom: 20px;}
.product .image-description p{color:#837D77;font-size:15px;font-family: 'Source Sans Pro', sans-serif;font-weight: 600;}
.product .image-description .colorOne{background: #A4958C;}
.product .image-description .colorTwo{background: #EABBB8;}
.product .image-description .btn:focus, .product .image-description .btn:active:focus{box-shadow: none;outline:none;}

/*responsive classes  */
.show{display: none;}
.footer{display: none;}
.toggle{display: none;}
.menu-two{display: none;
    position: absolute;
    z-index: 9999;
    top: 120px;
    background: #F6F6F6;
    /* height: 290.737px; */
    width: 205.654px;
    padding-left: 24.571px;}

.menu-two p:first-child a{color:#A4A085;padding:20.011px 0 20.33px;font-size:13px; font-family: 'Roboto', sans-serif;font-style: italic;font-weight: 500;}
.menu-two p:nth-child(2) a ,.menu-two p:nth-child(3) a ,.menu-two p:nth-child(4) a ,.menu-two p:nth-child(6) a ,.menu-two p:nth-child(7) a ,.menu-two p:nth-child(8) a{color:#7A766B;font-size: 13px;padding-bottom:11.337px; font-family: 'Roboto', sans-serif;font-weight: 500;}
.menu-two p:nth-child(5) a{color:#7A766B;font-size: 13px;padding-bottom:16.806px; font-family: 'Roboto', sans-serif;font-weight: 500;}
.menu-two p:nth-child(9) a{color:#A09888;font-size: 11px;; font-family: 'Roboto', sans-serif;font-weight: 500;}
/*.bottom .pull-left:hover .menu-two{display: block !important;}
*/



/*header when user not logged in*/

.to_loggedin_menu{display: none; position: absolute; z-index: 9999; top:110px; background: #F6F6F6;height:auto;width: 205.654px; padding:20px 24.571px;}
.to_loggedin_menu p{border-bottom:1px solid #A49F84;}
.to_loggedin_menu p a{font-size:13px; font-family: 'Roboto', sans-serif;font-weight: 500; padding-bottom:5px;color:#A49F84;letter-spacing:0.8px;}



/* media query of sales  */
 @media only screen and (min-width: 768px){
.menu ,#menu{display: none !important;}
 }
 @media only screen and (max-width: 767px)
 {
     .bottom .pull-left:hover .menu-two{display: none !important;}
     .menu ,#menu{display: block;}
     .product .box .left .ends{padding-top: 5px;}
     .menu{position: fixed; width: 100%; z-index: 999; left: 0; background: #F1F2F2; top: 119px;display: none;}
    .menu p a{padding: 10px 20px;width: 100%;font-size: 17px; font-family: 'Roboto', sans-serif;font-weight: 500;color:#72726A;}
    #menu{height: auto;padding: 10px;margin: auto;display: none;position: absolute;top: 119px;width: 100%;text-align: center;background: #F1F2F2;z-index: 9999;}
    #menu p a{font-size: 17px; font-family: 'Roboto', sans-serif;font-weight: 500;color:#72726A;padding: 10px 0;}
    #menu p a.active{border-bottom: 2px solid #F26522;padding-bottom: 3px;}
    .toggle{display: block;position: absolute;top: 46px;left: 16px;}
    .sale .right p{font-size: 15px;}
    .btn.dropdown-toggle.btn-select{width: 100%;float: left;} 
    .Latest .dropdown-toggle{background: transparent;}
    .display{display: none;}
    .hide{display:none;}
    .show{display:block;}
    .product .left ,.product .right{width:100%;}
    .product .right .first-row{width: 100%;text-align: center;padding-top: 20px;}
    .product .right ul li {width: 33.3%;}
    .product .right .text-right{float: left;width: 100%;text-align: center;padding:0;}
    .product .right .text-right .btn{width: 96%;}
    .voucher .strip{width: 96%;margin: 0 auto;padding: 8px 0;}
    .voucher .strip p{font-size: 21px;}
    .topSellers{margin-top: 60px;}
    .follow{display: none;}
    footer{display: none;}
    header .top{display: none;}
    header .middle{padding:0;margin-top: 15px;height: auto;}
    header .bottom{position: absolute;top: 47px;right: 15px;margin-top: 0;width: auto;}
    header .bottom .list-inline.list-unstyled{display: none;}
    header .menu-left{margin-right: 17px;}
    .footer{display:block;}
   .topSellers ul li {width: 33.3%;}
   header {position: relative;}
   .accordion {
    background-color: #eee;
    color: #737266;
    cursor: pointer;
    padding:18px 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}

/* .active, .accordion:hover {
    background-color: #ccc;
} */

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.footer .active:after {
    content: "\2212";
}

.panel {
     padding:0 40px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.footer .panel p{font-size:13px;color:#737266;font-family: 'Roboto', sans-serif;font-weight:400;}
.topSellers ul.bottom-border{border-bottom: 0;}
 }



 
/* sales timer */
.sale-timer.countDown p{color:#F29698;background: url(../images/sale-timer.png)no-repeat left;background-position: 0 18px;}



/* Product description  */
.description .breadcrumbs p{font-size:13.3px;color:#9B8F88;font-family: 'Source Sans Pro', sans-serif;font-weight: 600;padding-top:26px;}
.description .alignment p{text-align: right;background:url(../images/timer.png)no-repeat right;color:#9D988F;background-position: 92%;}
.description .proDesc{margin-top:37px;}
.description .proDesc li{font-family: 'Source Sans Pro', sans-serif;font-size:14px;font-weight:900;color:#89857E;margin-bottom:20px;}
.description .proDesc li:last-child{margin-bottom: 0;}
.description .proDesc .heading{font-size:14.6px;font-weight:600;color:#8E887E;}
.description .proDesc .paragraph{font-size:14.3px;font-weight:400;color:#8E887E;}
.description .cart-information .box{padding:40px 0;}
.description .cart-information .top{font-family: 'Source Sans Pro', sans-serif;font-weight:400;font-size:18px;color:#86827A;}
.description .cart-information .bottom{font-family: 'EB Garamond', serif;font-weight:700;font-size:25px;color:#70695F;}
.description .cart-information .price p{font-family: 'Source Sans Pro', sans-serif;font-weight:600;font-size:15px;color:#8C8780;}
.description .cart-information .price span{margin-right:20px;}
.description .cart-information .price .top{font-family: 'Rosario', sans-serif;font-weight:700;font-size:32px;color:#B5AFA1;}
.description .cart-information .price .bottom{font-family: 'Rosario', sans-serif;font-weight:400;font-size:30px;color:#7B7975;}
.description .cart-information .count{margin: 30px 0 60px;}
.description .cart-information .count .btn-group{border:1px solid #666766;}
.description .cart-information .count .button{width:76%;background: #E9B2B1;color:#fff;font-size:20px;font-family: 'Source Sans Pro', sans-serif;font-weight:900;}
.description .cart-information .info h6{font-family: 'Source Sans Pro', sans-serif;font-weight:900;font-size:14px;color:#89857E;margin-bottom:20px;}
.description .cart-information .info p{font-family: 'Source Sans Pro', sans-serif;font-size:14.3px;}
.description .cart-information .info .left{font-weight:600;color:#847D74;}
.description .cart-information .info .right{font-weight:400;color:#8E887E;}
.description .cart-information .info .right span{font-size:11px;}
.moreItems{margin-top:100px;}
.moreItems hr{border-color:#666766;position:relative;}
.moreItems .text{color: #70695F;font-size: 26px;font-family: 'EB Garamond', serif;font-weight: 600;position: absolute;left: 0;right: 0;margin: 0 auto;width: auto;top: 0;text-align: center;background: #fff;width: 250px;}
.moreItems .right-text{position: absolute;right:15px;font-family: 'Source Sans Pro', sans-serif;font-size:13px;font-weight:600;color:#8E887E;}
.moreItems ul{margin: 0 auto;text-align: center;margin: 60px 0 60px;}
.moreItems ul li{padding: 0 18px;}
.moreItems .box .heading{font-weight: 700;font-family: 'Source Sans Pro', sans-serif;font-weight:13.3px;color:#6D6A64;}
.moreItems .box .price{font-family: 'Rosario', sans-serif;font-weight:700;font-size:15px;color:#78746C;}
.moreItems .box .price strike{font-weight:400;}

/* media query Product description  */
 @media only screen and (max-width: 1199px)
 {
    .description .alignment p{background-position: 90%;}

 }

  @media only screen and (max-width: 991px)
 {
    .description .alignment p{background-position: 87%;}
    .description .cart-information .count .button{font-size: 16px;}

 }


 @media only screen and (max-width: 767px)
 {
    .description .alignment{margin-top:10px;}
    .description .alignment p{background-position: 1%;text-align: left;padding-left: 24px;padding-top: 0px;}
    .description .proDesc li{display: block;}
    .cart-information .count .btn-group{width: 20%;margin-right: 10px;padding: 1px;}
    .description .cart-information .count .button{font-size: 17px;}
    .moreItems .right-text{left: 0;top: -23px;right: 0;margin: 0 auto;text-align: center;font-size:12px;}
    .moreItems .text{width: 180px;top: 3px;font-size: 20px;}

 }


 /*  product reserved  */
 .cart-information .count.reserved .button{width:100%;font-size: 18px;}
 .reserved-btn{position: absolute;right:22%;background: #E9B2B1;color: #fff;font-size: 19px;font-family: 'Source Sans Pro', sans-serif;font-weight: 900;width: 25%;}
 .temp{padding:80px 0;}

/* signup_login_pass shaifali  */
.voucher .strip.color-change{background: #9B8F88;}



 /* product reserved media query  */
 @media only screen and (max-width: 1199px)
 {
        .cart-information .count.reserved .button{font-size: 13px;}
 }

 @media only screen and (max-width: 991px)
 {
        .cart-information .count.reserved .button{font-size: 11px;}
 }

 @media only screen and (max-width: 767px)
 {
        .reserved-btn{font-size: 13px;margin: 0 auto;left: 0;right: 0;}
        .cart-information .count.reserved .button{width: 33%;}
        .description .cart-information .box{text-align: left;}
 }





@media only screen and (max-width: 500px){
    header{height: 75px;}
    .toggle{width: 37px;top: 26px;}
    .middle img{width: 160px;}
    header .bottom{width: 59px;top: 21px;}
    header .menu-left {margin-right: 10px;}
    #menu ,.menu{top: 74px;}
    .product .text h3{font-size: 17px;}
    .product .left p{font-size: 10px;}
    .product .box .left .ends{padding-right: 10px;margin-right: 10px;}
    .product .box .left .ends p{font-size: 10px;}
    .product .box .left .ends h6{font-size: 15px;}
    .product .box .left .text{padding-top: 4px;}
}



/* sales  */
.inSale .left ,.inSale .right{float:left;}
.inSale .left p{color:#85806B;font-family: 'Roboto', sans-serif;font-size:11px;font-weight: 400;margin:14.5px 0 9.73px;border-bottom: 1px solid;padding-bottom: 4.92px;display: inline-block;border-color:rgba(133,119,104,0.5);}
.inSale .image{width:681.045px;height:385.017px;}
.inSale .right{width: 510px;height: 428.14px;border-bottom: 2px dotted;margin-left: 16px;border-color:rgba(143,137,117,2);}
.inSale .right h3{padding-top: 68px;font-family: 'Conv_TIMESBD';font-size:26px;color:#757165;padding-bottom: 5px;}
.inSale .right h6{font-size:13.8px;color:#85806B;font-family: 'Roboto', sans-serif;font-weight: 400;padding-bottom:60.631px;}
.inSale .right p{font-size:14px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#6C6A58;line-height: 21px;}
.sortProduct{position: relative;}
.sortProduct .top{float: left;width: 100%;height: 41.667px;padding-top: 11px;border-bottom: 2px dotted;border-color:rgba(143,137,117,2);position: relative;}
.sortProduct .top .drp{position: absolute;left: -120px;top: 7px;}
.sortProduct .top .drp select{width: 100px;padding: 4px;background: #EB5C36;color: #fff;border: 0;}
.sortProduct .top .pull-left{font-size:13px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#85806B;}
.sortProduct .top .pull-right{color:#6C6A58;font-size:13px;font-family: 'Roboto', sans-serif;font-weight: 700;padding-top:4px;}
.sortProduct .top .pull-right span{font-style: italic;}
.sortProduct .products{float: left;width:100%;margin-bottom:60.91px;}
.sortProduct .products .box{float: left;width: 31.3%;margin-top: 49px;border-bottom: 2px dotted rgba(143,137,117,0.2);margin-right: 24px;}
.sortProduct .products .box .img ,.sortProduct .products .box .description{float: left;width: 100%;}
.sortProduct .products .description{height: 72.445px;}
.sortProduct .products .description p:first-child{color:#848273;font-family: 'Roboto', sans-serif;font-weight: 400;font-size:13px;letter-spacing: 1.25px;}
.sortProduct .products .description p:nth-child(2){color:#7C7962;font-family: 'Roboto', sans-serif;font-weight: 400;font-size:14px;padding:6.822px 0 8.625px;letter-spacing: 1.25px;}
.sortProduct .products .description p:nth-child(3){color:#6C6A58;font-family: 'Roboto', sans-serif;font-weight: 500;font-size:13px;padding-bottom: 10.855px;letter-spacing: 1.25px;}
.sortProduct p.text{font-family: 'Roboto', sans-serif;font-weight: 500;font-size:11px;color:#848273;padding-bottom:42.358px;clear: both;}
.otherSales{position: relative;} 
.sortProduct .products .box{position:relative;} .sortProduct .products .box .minor {position: absolute; font-size: 10px; right: 0; bottom: 10px; color: #848273; } .otherSales .strip{clear:both;height:26.597px;background: #C2AE96;margin-bottom: 29.27px;border-radius: 5px;}
.otherSales .strip p{font-family: 'Roboto', sans-serif;font-size:19px;font-weight:900;color:#fff;padding-top:2px;letter-spacing: 1.0px;}
.otherSales .box ,.otherSales img {float: left;}
.otherSales .box{margin-right:12px;}
.otherSales .box:nth-child(5){margin-right:0;}
.otherSales .description{width:100%;float: left;}
.otherSales .description h5{font-size:21px;color:#6C6A58;font-family: 'Conv_TIMESBD';padding-left: 5px;padding-top: 10px;}
.otherSales .description p{font-size:13.56px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#6C6A58;padding-bottom: 13px;padding-top: 5px;border-bottom:1px solid;border-color:rgba(109,105,104,0.5);letter-spacing: 0.55px;}
.otherSales .space{margin:66.636px 0 50.247px;float:left;width:100%;}
.otherSales .space .btn{width:127.199px;height:29.062px;background:#EB5C36;color:#fff;font-size:13.89px;font-family: 'Roboto', sans-serif;border:none;border-radius: 3px;font-weight: 700;}
.otherSales .space .btn span{font-style: italic;}
.sortProduct .dropProduct{border: 1px solid rgba(109,105,104,0.5);margin-left: 20px;padding: 3px 10px;margin-top: -2px;color: #85806B;}
.sortProduct .up-arrow{position: absolute;right:100px;right: 70px;top: 88%;}
.sortProduct .products .box .img.bottom{position: relative;margin-bottom: 14.333px;}
.sortProduct .products .box .img.bottom .btn{position: absolute;bottom: 0;width: 100%;left: 0;right: 0;margin: 0 auto;background: #EB5C36;border: 0;color: #fff;height: 35.478px;font-family: 'Roboto', sans-serif;font-weight:700;font-size:14px;}
.sortProduct .products .box .img.bottom .btn.color{background: #C2AE96;}

.otherSales .right_arrow {
    position: absolute;
    top: 100px;
    right: 130px;
    cursor: pointer;
}
.otherSales .left_arrow {
    position: absolute;
    top:100px;
    left: 130px;
    cursor: pointer;
}












/* cart shaifali */
.cartTop .top{float:left;width:100%;}
.cartTop .top .pull-left span{font-size:10px;color:#85806B;font-family: 'Roboto', sans-serif;font-weight: 400;padding-bottom:4.132px;border-bottom: 1px solid rgba(109,105,104,0.75);width: 88px;display: block;margin:21.083px 0 16.922px;}
.cartTop .top .pull-right .button{background: #EC653E;color:#fff;margin:7.969px 0 7.094px;padding:12.508px 0 10.725px;font-size:16px;font-family: 'Open Sans', sans-serif;font-weight: 700;border-radius:3px;border:none;width:152.573px;}
.cartTop .strip{background: #C2AE96;height:26.917px;border-radius: 3px;float:left;width:100%;margin-bottom:27.125px;}
.cartTop .strip p{padding-top:1px;color:#fff;font-size:16px;font-weight: 900;font-family: 'Roboto', sans-serif;}
.cartTop .text-height{height: 107.125px;float: left;width: 100%;}
.cartTop .text{font-size:15.41px;font-weight: 400;font-family: 'Roboto', sans-serif;text-align: center;color:#7C7962;}
.cartTop .cart{float:left;width:100%; border-top:1px solid rgba(157,157,156,0.25);border-bottom:2px dotted rgba(143,137,117,0.8);padding:9.296px 0;margin-bottom: 50px;} 
.cartTop .cart .image{float:left;width: 155px;height: 155px;margin-right:46.531px;}
.cartTop .cart .image img{height:100%;width:100%;}
.cartTop .cart .paragraph{float: left;margin-top:24.208px;font-family: 'Roboto', sans-serif;}
.cartTop .cart .paragraph p{letter-spacing: 1px;}
.cartTop .cart .paragraph p:first-child{font-weight:400;font-size:13px;color:#848273;}
.cartTop .cart .paragraph p:nth-child(2){font-weight:400;color:#7C7962;font-size:14px;padding:6.958px 0 11px;}
.cartTop .cart .paragraph p:nth-child(3){font-weight:500;color:#6C6A58;font-size:14px;padding-bottom:21.572px;}
.cartTop .cart .paragraph p:nth-child(3) del{color:#838173;}
.cartTop .cart .paragraph p:nth-child(4){font-size:13px;color:#7C7962;font-weight:400;}
.cartTop .text-height ul{margin-top: 70px;margin-right: 70px;}
.cartTop .text-height ul li{margin: 0 55px;color:#85806B;font-size:11px;font-weight: 400;font-family: 'Roboto', sans-serif;}
.cartTop .cart ul li{margin: 50px;color:#726F5D;font-size:14px;font-family: 'Roboto', sans-serif;font-weight: 500;}
.cartTop .cart ul li:first-child{margin: 50px 35px;}
.cartTop .cart ul li:nth-child(2){margin: 30px 65px;}
.cartTop .cart ul li:nth-child(2) select{padding: 17px 30px;font-size:17px;color:#928570;}
.cartTop .cart ul li:nth-child(3){margin: 50px 30px;}
.total .box{width: 500px;height:160px;background: #EDEDED; margin-bottom: 25px;padding:30px;}
.total .box p{font-family: 'Roboto', sans-serif;color:#726F5D;font-size:13px;}
.total .box p:nth-child(2){padding: 15px 0 15px;}
.total .box p:nth-child(3){padding: 0 0 15px;}
.total .box p:nth-child(4) .bold{font-size:15px;font-weight:700;}
.total .box p:nth-child(4) .small{font-size:9px;}
.total .box p:nth-child(4) .pull-right{font-weight:700;}
.total .main{float:right;width:500px;}
.total .main .text{font-size: 11px;color: #7C7962;font-family: 'Roboto', sans-serif;margin-bottom: 17px;display: block;margin-left: 30px;padding-bottom: 3px;border-bottom: 1px solid rgba(150,140,117,0.75);float: left;width:100px;}
.total .main button{float: left;width: 100%; background: #EC653E;border: 0;padding: 15px;color: #fff;font-weight: 700;font-family: 'Open Sans', sans-serif;border-radius: 4px;}
.total .main .bottom-text{margin-top:21px;margin-bottom:120px;font-size:15px;color:#7A766B;}
.total .main .bottom-text .font{font-family:"segoescript";}
.total .main .bottom-text .color{color:#EC653E;}
.cart .dropdown select option:first-child{background:#EC653E;color:#fff;}


.cartTop .text-height .under{font-family: 'Roboto', sans-serif;
    font-size: 13.51px;
    font-weight: 700;
    border-bottom: 1px solid;
    border-color: rgba(150,140,117,0.75);
    margin-bottom: 33px;
    padding-bottom: 5px;
    color: #85806B;
    text-align: center;
    margin: 0 auto;
    width: 90px;
    margin-top: 10px;}

/* redeem voucher  */
.total .main .gap{margin-left:11px;}


/* voucher  */


.total .button-voucher{float:left;width:100%;}
.total .invite_popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(178,178,177,0.6);
}

.total .invite_popup .modal-content {
    display: block;
    max-width: 821.9px;
    word-wrap: break-word;
}

.total .invite_popup .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 24px;
    border: none;
    width: 80%;
    padding-top: 17.23px;
    min-height: auto;
}

.total .invite_popup .close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}
.total .my-pop-up-outer h2{font-size: 19px;color:#6C6A58;font-family: 'Roboto', sans-serif;text-align: center;font-weight: 700;}
.total .my-pop-up-outer h2 span{font-family:"segoescript";}

/* radio button */
.radio-btn {
    display: inline-block;
    position: relative;

    margin-bottom: 18px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    border:1px solid rgba(109,105,104,0.5);
}

/* On mouse-over, add a grey background color */
.radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-btn input:checked ~ .checkmark {
    background-color: #EC653E;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-btn .checkmark:after {
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
	border-radius: 50%;
	background: white;
}

.total .text-btw{padding: 0px 60px;display: inline-block;color:#6C6A58;font-family: 'Roboto', sans-serif;font-weight: 400;font-size:13px;}
.total .input-box{padding:10px;}
.total .block{width: 500px;margin: 0 auto;margin-bottom: 25px;margin-top: 25px;}
.total .block select{width: 56%;padding: 10px;margin-bottom:21px;}
.total .block .popClick{background: #EC653E;color: #fff;border: 0;border-radius: 3px;padding: 10px;width: 40%;margin-left: 216px;}

/* cart-minutes  */
.cartTop .text-height .timer{color:#EC653C;font-weight:700;font-style: italic;}


/*cart checkout time  */
.total .my-pop-up-outer .paragraph{margin: 0 auto;width:500px;margin-top: 30px;margin-bottom: 25px;}
.total .my-pop-up-outer .paragraph p{font-family: 'Roboto', sans-serif;font-weight: 400;font-size:14px;color:#6C6A58;}


/* cart-checkout  */
.total .popClick.width{float: none;width: 300px;margin-bottom: 50px;}
.total .bottom-line{font-family: 'Roboto', sans-serif;font-size:11px;font-weight: 500;border-bottom:1px solid rgba(150,140,117,0.75);width: 263px; margin: 0 auto;}


/* address */
.cartTop .address active{font-weight:700;}
.cartTop.adress-gap .strip{margin-bottom:5px;}
.cartTop .address{float:left;width:100%;background:#EDEDED;margin-bottom:30px;}
.cartTop .address ul li{padding:25px 15px;color:#726F5D;font-size:13px;font-family: 'Roboto', sans-serif;font-weight:400;}
.cartTop .address ul li span{margin-left:30px;display: inline-block;}
.cartTop .adress-form{width:50%;float:left;}
.cartTop .adress-form p{color:#848273;font-size:13px;font-family: 'Roboto', sans-serif;font-weight:700;margin-left:18px;margin-bottom:30px;}
.adress-form form label{display: block;margin-bottom: 18px;}
.adress-form form label span{color: #8E8778;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
        margin-right: 9px;
    min-width: 184px;
    display: inline-block;
    text-align: right;}
.adress-form form label input{padding:10px;}
.cartTop .top.space .pull-right button{margin-bottom:50px;}
.adress-form .radio-btn{display: inline-block;padding-right: 12px;text-align: right;width:80px;margin-left: 10px;}
.adress-form .radio-btn span{min-width: 0;}
.adress-form form label .text-down{    text-align: right;}



/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  padding-top: 3px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .2em; left: .275em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #EC653C;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

.tick{float: left;width:100%;padding:30px;}
.tick p{padding-left:17%;color:#8E8778;font-size:12px;font-family: 'Roboto', sans-serif;}













/*css by harish*/


/*sign_login page*/

.header_top{background:url(../images/sign_up_banner.png) no-repeat;padding:50px 20px 100px;background-size:cover;}
.logo_header{width:100%;float: left;text-align: center; }
.logo_header span{display:block;width:100%;padding-bottom:35px;}
.logo_header p{font-family: 'open sans', sans-serif;font-size:22px;font-weight:700;color:#ffffff;}


.access_link_box{float: left;width: 100%;text-align: center;margin:80px 0 160px;}
.access_link_box a{font-family: 'roboto', sans-serif;font-size:17px;font-weight:700;color:#ffffff;display:block;width:330px;border-radius: 4px;padding:10px;margin:14.75px auto;letter-spacing:1.8px}
.access_link_box a.become_member {background-color:#ff6d43;}
.access_link_box a.login_facebook{background-color: rgba(143, 137, 117, 0.52);}

.member_login{width:100%;float:left;text-align: center;}
.member_login p{font-size:11px;font-family: 'Roboto', sans-serif;font-weight:500;color:#ffffff;padding-bottom:50px;letter-spacing:1.1px;}
.member_login p a{color:#ffffff;padding-left:5px; text-decoration:underline;}


.welcome_sec{padding:60px 20px 60px;}
.welcome_sec .welcome_message{float:left;width:100%;text-align: center;}
.welcome_sec .welcome_message h3{font-size:20px;font-family: 'Times New Roman', sans-serif;font-weight:600;color:#6D6D64;padding-bottom:35px;}
.welcome_sec .welcome_message p{font-size:13px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#757863;line-height:22px;padding-bottom:20px }

.added_value_sec{padding:100px 20px 60px;background-color:#F1F1F2;}
.added_value_sec .added_value{float:left;width:100%;text-align: center;}
.added_value_sec .added_value h3{font-size:26px;font-family: 'Times New Roman', sans-serif;font-weight: 400;color:#6D6D64;padding-bottom:35px;}
.added_value_sec .added_value p{font-size:14px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#646658;line-height:22px;padding-bottom:20px;}


.sales_event_sec{padding:100px 20px 60px;}
.sales_event_sec .our_sales_event{float:left;width:100%;text-align: center;}
.sales_event_sec .our_sales_event h3{font-size:26px;font-family: 'Times New Roman', sans-serif;font-weight: 400;color:#6D6D64;padding-bottom:35px;}
.sales_event_sec .our_sales_event p{font-size:14px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#646658;line-height:22px;padding-bottom:20px }
.sales_event_sec .access_link_box{margin:80px 0 80px;}


/*sign_login page*/


/*become member page css*/

.member_login_sec{background-image:url("../images/sign_up_banner.png");padding:50px 20px 100px;background-size:cover;background-repeat:no-repeat;min-height:980px;}
.member_login_sec .logo_header{width:100%;float: left;text-align: center; }
.member_login_sec .logo_header span{display:block;width:100%;padding-bottom:20px;}
.member_login_sec .logo_header p{font-family: 'Open Sans', sans-serif;font-size:26px;font-weight:400;color:#ffffff;}

.become_member_outer{float: left;width:100%;text-align: center;}
.become_member_div{position:relative;width:600.2px;text-align: center;margin:0px auto 100.6px;background-color:rgba(245,245,245,0.9);padding:40.5px 66px 30.6px;border: 2px solid #ffffff;}
.become_member_div .to_back{position:absolute;right:0;left:auto;top:0;font-family: 'Roboto', sans-serif;font-weight:500;font-size:11px;color:#7F7973;margin:0;width:auto;display:inline-block;padding:16.5px 21.6px 0 0;text-decoration:underline;}

.become_member_div .form-group{width:464.8px; display: block; margin:36.7px auto;}
.become_member_div .form-group label{text-align:left;display:block;padding:0 0 7px 6.2px;font-family: 'Roboto', sans-serif;font-size:12px;color:#95928C;letter-spacing:1px;}
.become_member_div .form-group input{width:100%;padding:6px 18.1px;line-height:32px;font-family: 'Roboto', sans-serif;color:#988A7B;font-size:15px;outline:0}
.become_member_div .form-group input::-webkit-input-placeholder{color:#988A7B;font-size:15px;font-family: 'Roboto', sans-serif;}

.become_member_div .form-group .form-control:focus, .become_member_div .form-group .form-control:active{border:2px solid #E30513;box-shadow:none !important;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;}
.become_member_div .form-group.suggestion_highlight{position:relative;} 
.become_member_div .form-group.suggestion_highlight input:focus, .become_member_div .form-group input.suggestion_highlight:active{border:3px solid #E30513;outline:0;}
.become_member_div .form-group .error_suggestion_message{position:absolute;right:0;display:none;text-align: right;color:#E30513;font-size:12px;font-family: 'Roboto', sans-serif;font-weight:500;padding-top:9.6px;}

.become_member_div .form-group.suggestion_highlight:hover .error_suggestion_message{display:block !important;}

.become_member_div .forget_pswd{font-family: 'Myriad Pro', sans-serif;font-weight:400;text-align:right;font-size:12px;color:#7F7973;margin:0 0 25px 0;display:inline-block;text-decoration:underline;}
.become_member_div form > p.recover_pwd_message {letter-spacing:0.8px;padding-bottom:5.3px;line-height:19px;}


.become_member_div form > p {font-family: 'Roboto', sans-serif;font-weight:500;font-size:13px;color:#7F7973;text-align:left;margin:0 auto;display:block;letter-spacing:0.6px;padding-bottom:20.3px;}
.become_member_div form > p span{border-bottom:1px solid #88877C;padding-bottom:3.2px;cursor:pointer; font-family: 'Roboto', sans-serif;color:#908B83;line-height:22px;}
.become_member_div a{font-family: 'Roboto', sans-serif;font-size:17px;font-weight:700;color:#ffffff;display:block;width:464.8px;padding:10px;margin:14.75px auto;letter-spacing:1.7px}
.become_member_div a.become_member {background-color:#ff6d43;}
.become_member_div a.login_facebook{background-color:rgba(143, 137, 117, 0.52);}
.become_member_div a.password_reset_link{margin: -16.25px auto 27px;}

.become_member_div .become_member_login p{font-size:13px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#7F7973;padding:0;letter-spacing:0.5px;}
.become_member_div .become_member_login p a{width:auto;display: inline-block;font-size:12px;color:#7F7973;text-decoration:underline;}

.access_bg{background-image:url(../images/sign_up_banner.png);min-height:980px;}
.access_bg .mail_message_box{margin-bottom:0;}
.access_bg .become_member_div h3{padding:12px 0 35.8px 0;font-size:17px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#7F7973;letter-spacing:0.8px;}
.access_bg .become_member_div p{text-align:center;line-height:20px;font-weight:400;}

.reset_pwd_div .form-group{margin:33px auto;}
.reset_pwd_div .form-group input.reset_email{background-color:#A99887;color:#ffffff;outline:0;border:0; }
.reset_pwd_div .form-group input.reset_email::-webkit-input-placeholder{color:#ffffff;font-size:15px;font-family: 'Roboto', sans-serif;}
.reset_pwd_div .form-group input.reset_email:focus, .become_member_div .form-group input.reset_email:active{border:none;outline:none;box-shadow:none !important;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;}

.reset_password_div.become_member_div{padding:28.5px 50px 5.5px;margin-top:15px;}
.reset_password_div.become_member_div h3{padding:0;font-size:17px;font-family: 'Roboto', sans-serif;font-weight: 400;color:#7F7973;letter-spacing:0.8px;}
.reset_password_div.become_member_div p{text-align:center;line-height:17px;font-weight:400;padding-top:27.11px;padding-bottom:15px;}

.reset_pwd_div .reset_new_link{margin:46.475px auto 0;}

/*become member page css*/


/*Product Description Thumbnail Gallery*/

.pro_desc_gallery{padding:25px 0 65px;}

.pro_thumbnail_sec{width:5%;float: left;text-align: center;}
.pro_thumbnail_sec h4{font-size:11px;font-family: 'Roboto', sans-serif;font-weight:400;color:#7C7C6B;text-align: center;border-bottom:1px solid #7C7C6B; margin-bottom:15px;padding-bottom:5px; display: inline-block;}
.pro_thumbnail_sec ul li{display: block;width:100%;list-style-type: none;text-align: center;padding:10px 0;position:relative;}
.pro_thumbnail_sec ul li.active_item:before{content:'';display:block;width:2px;height:65px;background-color:#EF653E;position: absolute;letter-spacing:0;top:0;}

.pro_large_img{width:64%;float: left;padding-top: 20px;position: relative;}
.pro_large_img img{display: block; text-align: center;margin:0 auto;}


.pro_order_desc{float: left;width:31%;}
.pro_order_desc .endet_it_sec p{font-family: 'Roboto', sans-serif; text-align: right; font-size: 12px; font-weight:400;color:#8E9081;}

.pro_order_desc .about_pro{width:375px; text-align:center; padding-top:45px;}
.pro_order_desc .about_pro h4{font-family: 'Roboto', sans-serif; font-size: 16px; font-weight:400;color:#9D9C87;text-align: center;padding-bottom:14.26px;letter-spacing:1px; }
.pro_order_desc .about_pro h3{font-family: 'Roboto', sans-serif; font-size: 19px; font-weight:600;color:#646658;text-align: center;border-bottom:2px dotted #868474;letter-spacing:1px;padding-bottom:18px;}

.pro_order_desc .button {background-color: #f15c33; border: none; color: #fff; text-align: center; text-decoration: none; font-size: 19px; width:280px; height:45.5px; font-family: 'Roboto', sans-serif; font-weight:600; cursor: pointer; letter-spacing: 0.7px; margin:45px 0 80px; border-radius:5px;}
.pro_order_desc .button.sizes_btn{margin-bottom:0;}
.pro_order_desc .pro_price_sec{float: left;width:100%;padding-top:30px;}
.pro_order_desc .pro_price_sec p{font-family: 'Roboto', sans-serif; font-size: 11px; font-weight:400;color:#9F9786;letter-spacing:1px;}
.pro_order_desc .pro_price_sec p span{font-size:28px;color:#646658;padding:12px 45px 12px;display: inline-block;}
.pro_order_desc .pro_price_sec p span del{color:#8B8E82;}

.pro_order_desc .pro_order_place{float: left;width: 100%;}
.pro_order_desc .pro_order_place select{padding:4px 42px 4px 20px;margin-right:10px;color:#89806F;font-family: 'Roboto', sans-serif; font-size:22px; font-weight:500;-webkit-appearance:none;background:url(../images/select_arrow.png) no-repeat 90% 50%; }
.pro_order_desc .pro_order_place .select_wrapper{position:relative;display:inline-block;}
.pro_order_desc .pro_order_place .select_wrapper:before{content:'';position:absolute;display:block;width:1px;height:36px;background-color:#89806F;right:34px;}




/*Products with different sizes*/

.more_products_sizes{padding-top:100px;}
.more_products_sizes .pro_order_desc{width:calc(100%/3);}

/*More Information about Products*/

.pro_re_more_inform .top_bar{height:26.5px;background-color:#B9A791;}
.pro_re_more_inform .top_bar p {text-align: center; font-family: 'Roboto', sans-serif; font-size: 19px; font-weight:400; padding-top: 2px; color: #fff; letter-spacing: 1.0px; }
.pro_re_more_inform .more_inform_con{float: left;width:100%;padding:15px 0;}


.pro_re_more_inform .about_dis_sale{float: left;width:30%;padding:0 15px;}
.pro_re_more_inform .about_dis_sale h3{padding:35px;font-family: 'Times New Roman', sans-serif; font-size:20px; font-weight:700;color:#646658;text-align: center;}
.pro_re_more_inform .about_dis_sale p{font-family: 'Roboto', sans-serif; font-size: 14px; font-weight:500;color:#646658;text-align: center;line-height: 24px; word-spacing: 2px;}


.pro_re_more_inform .block-side-sec{float: left;width:70%;}
.pro_re_more_inform .block-side-sec ul{float:left;width:100%; border:3px dotted #E6E7E8;}
.pro_re_more_inform .block-side-sec ul li{float: left;width:calc(100%/3);list-style-type: none;display: inline-block;/*border-bottom:1px solid #00A550;border-right:2px solid #EC008B;*/height:110px;padding:10px;}

.pro_re_more_inform .block-side-sec ul li.last_list_li{border-bottom:0;}
.pro_re_more_inform .block-side-sec ul li.last_third_li{border-right:0;}

.pro_re_more_inform .block-side-sec ul li .list_main{height:100%;width:100%;}
.pro_re_more_inform .block-side-sec ul li .list_main_inner{display:table;height:100%;width:100%;}
.pro_re_more_inform .block-side-sec ul li .list_main_inner_inner{display:table-cell;vertical-align: middle;}

.pro_re_more_inform .block-side-sec ul li p{text-align: center;color:#646658;font-family: 'Roboto', sans-serif; font-size: 14px; font-weight:400;}
.pro_re_more_inform .block-side-sec ul li p span{display: block;padding-bottom: 5px;color:#7D7F6C;font-family: 'Roboto', sans-serif; font-size:15.4px; font-weight:400;}
.pro_re_more_inform .block-side-sec ul li p span:last-child{display:inline;cursor:pointer;}


/*Other sales product*/

.topSellers.other_sales_pro{margin-top:60px;}
.topSellers.other_sales_pro .top p{font-weight:400;} 
.topSellers.other_sales_pro ul{padding:28px 0 0;position:relative;}
.topSellers.other_sales_pro ul .right_arrow{position: absolute;top:85px;right:0px;cursor: pointer;}
.topSellers.other_sales_pro ul .next_prev .left_arrow{position: absolute;top:85px;left:0px;cursor: pointer;}
.topSellers.other_sales_pro ul:hover .next_prev .right_arrow, .topSellers.other_sales_pro ul:hover .next_prev .left_arrow{display: block;}

.topSellers.other_sales_pro ul li {width: calc(100%/5 - 30px); margin: 0 15px; border-bottom:2px dotted #868474; text-align: center;padding:0;}
.topSellers.other_sales_pro ul li:last-child{padding-right: 0;}

.other_sales_pro .sales_pro_desc{padding:8px 0 2px;}
.other_sales_pro .sales_pro_desc p{padding-bottom:8px;font-size:13px;font-family: 'Roboto', sans-serif;font-weight:400;color:#71735F;}
.other_sales_pro .sales_pro_desc p span{color:#646658;font-weight:500;}
.other_sales_pro .sales_pro_desc p del{color:#787A6E;padding-left:17px;}


.other_sales_pro .button {background-color: #f15c33; border: none; color: #fff; text-align: center; text-decoration: none; font-size: 13.5px; width:131px; height:32px; font-family: 'Roboto', sans-serif; font-weight:500; cursor: pointer; letter-spacing: 0.7px; margin:54px 0 80px; border-radius:5px;}



/*20/02/2018*/
.pro_order_desc .pro_order_place select.pro_qauntity option:checked{background-color:#EC653F !important;color:#ffffff;}
.pro_large_img .next_prev .right_arrow{position: absolute;top:220px;right:70px;display: none;cursor: pointer;}
.pro_large_img .next_prev .left_arrow{position: absolute;top:220px;left:70px;display: none;cursor: pointer;}
.pro_large_img:hover .next_prev .right_arrow, .pro_large_img:hover .next_prev .left_arrow{display: block;}

/*add cart item & timer options*/

.cart_div{position: relative;}
.cart_div span.cart_item{display: block;position: absolute;width:23px;height:23px;border-radius:50%;background-color:#EA5B34;color:#ffffff;vertical-align: middle;top:-8px;left:-15px;padding-top:3px;text-align: center;font-family: 'Roboto', sans-serif; font-weight:500;}
.cart_div span.cart_item_unknown{position: absolute;width:23px;height:23px;border-radius:50%;background-color:#EA5B34;color:#ffffff;vertical-align: middle;top:-8px;left:-15px;padding-top:3px;text-align: center;font-family: 'Roboto', sans-serif; font-weight:500;}

.cart_div .timer_div{position: absolute;right:38px;width:200px;top:8px;text-align:right;}
.cart_div .timer_div span{font-family: 'Roboto', sans-serif;color:#918E7E;font-weight:400;font-style: italic;}
.cart_div .timer_div .current_time{font-size:13px;text-align:right;}
.cart_div .timer_div .extend_div{font-size:11px;}
.cart_div .timer_div .extend_div .extend_text{border-bottom:1px solid #918E7E;display:inline-block;padding-bottom:2.8px;font-style:normal;}
.cart_div .timer_div .extend_div .extend_timer{font-size:13px;color:#EB653E;}
.cart_div .timer_div .extend_div .timer_gap{padding:0 7.9px 0 8.9px;}
/*.cart_div .timer_div .times_up_div{display:none;}
*/.cart_div .timer_div .times_up_div span{font-family: 'Roboto', sans-serif;color:#918E7E;font-weight:400;font-size:13px;}

.pro_order_desc button.sold_out_btn{width:367.9px;height:46.2px;background-color:#C2AE95;}
.pro_order_desc button.pro_reserved_btn{width:367.9px;height:46.2px;background-color:#f15c33;}

.pro_order_desc .pro_dif_sizes{float: left;width: 100%;}
.pro_order_desc .pro_dif_sizes .pro_sizes{width:375px;padding:8px 0 8px 15px;margin:13.8px 0 50px;color:#918879;font-family: 'Roboto', sans-serif; font-size:11px; font-weight:500;-webkit-appearance:none;background:url(../images/select_arrow.png) no-repeat 97% 50%;}


/*footer faq page*/

.f_common_top{margin-top:20px;}
.f_common_top .top{height:27px;background: #B9A791;}
.f_common_top .top p{font-family: 'Roboto', sans-serif;font-size:16px;font-weight:400;padding-top:5px;color:#fff;letter-spacing: 1.0px;}

.footer_faq .faq_list_div{float:left;width:100%;padding:31.8px 40px 100px;}
.footer_faq .faq_list_div ul{float:left;width:100%;text-align:center;padding-bottom:40px;}
.footer_faq .faq_list_div ul li{display:inline-block;cursor:pointer;margin: 10px 18px;width: calc(100%/6 - 40px);height:149.4px;list-style-type:none;border-radius:50%;background-color:#DADAD9;text-align:center;}
.footer_faq .faq_list_div ul li.active{background-color:#EC653D;}
.footer_faq .faq_list_div ul li.active span{color:#ffffff;}
.footer_faq .faq_list_div ul li span{display:inline-block;width:100px;text-align: center;font-family: 'Roboto', sans-serif;font-size:14px;font-weight:400;color:#79756B;}

.faq_list_div .con_parent{width:100%;height:100%;}
.faq_list_div .con_parent_inner{width:100%;height:100%;display:table;}
.faq_list_div .faq_cat{width:100%;height:100%;display:table-cell;vertical-align:middle;}

.question_section_main{float: left;width:100%;}
.question_section_inner{border-bottom:1px solid #6C6967;padding:39.013px 0 0;position: relative;display:inline-block;width:100%;}
.question_section_inner p{font-family: 'Roboto', sans-serif;font-size:13px;font-weight:400;color:#79756B;padding-bottom:29.59px;display:block;padding-right: 15px;}
.question_section_inner p:first-child{font-weight:500;}
.question_section_inner p.faq_ques{cursor:pointer;}
.question_section_inner p.faq_ans{display:none;}
.question_section_inner p span.sign_icon{position:absolute;right:0;}
.hide_show_icon:before{content:'-';display: block;width:20px;height:20px;position:absolute;background-color:#ffffff;}

/*footer faq page*/

/*footer form contact page*/

.footer_form_container{float:left;width:100%;text-align: center;padding:5px 15px 120px}
.footer_form_container .form_text_1{margin:61px auto 0;}
.footer_form_container .form_text_2{margin:59.9px auto;}
.footer_form_container p{font-family: 'Roboto', sans-serif;font-size:13px;font-weight:400;color:#7F7D69;letter-spacing:0.8px;line-height:17px;}
.footer_form_container p span{border-bottom:2px solid #9D9C9C;padding-bottom:2px;}

.footer_form_div{float:left;width:100%;}
.footer_form_div .form-group{width:425px; display: block; margin:36.7px auto;}
.footer_form_div .form-group label{float:left;text-align:right;width:150px;display:inline-block;padding:10px 35px 7px 6.2px;font-family: 'Roboto', sans-serif;font-size:13px;color:#8D8677;letter-spacing:0.8px;}
.footer_form_div .form-group input{width:272.25px;padding:6px 10.1px;line-height:17px;font-family: 'Roboto', sans-serif;color:#988A7B;font-size:15px;outline:0}
.footer_form_div .form-group textarea{padding:6px 10px;width:272.25px;}
.footer_form_div .form-group textarea:focus, .footer_form_div .form-group textarea:active{outline:0;box-shadow:none;}
.footer_form_div .form-group button{float:right;width:272.25px; color:#ffffff;background-color:#EC653D;cursor:pointer;border:none;outline:0;padding:5px;line-height:24px;border-radius:5px;display:inline-block;font-family: 'Roboto', sans-serif;font-size:16px;font-weight:500;}

.footer_form_div .form_sent_message{width:425px; display: block; margin:36.7px auto;position:relative; }
.footer_form_div .form_sent_message p{float:right;width:272.25px;padding:29.15px 0;}
.footer_form_div .form_sent_message img{position:absolute;top:100px;right:120px;}


/*footer form contact page*/


/*footer terms, privacy page, footer about*/

.footer_follow_content {float: left;width:100%;min-height:960px;padding-top:71.875px;}
.footer_follow_content .text_section{float: left;width:100%;}
.footer_follow_content .text_section p{font-family: 'Roboto', sans-serif;font-size:13px;font-weight:400;color:#79756B;text-align:center;padding-top:25px !important;}
.footer_follow_content .imprint_img_sec{float:left;display:inline-block;padding:0 74.239px;}
.footer_follow_content.imprint_main_sec .text_section{width:50%;}
.footer_follow_content.imprint_main_sec .text_section p{text-align: left;}

.footer_follow_content.imprint_main_sec .imprint_img_sec{width:50%;}

.welcome_sec.footer_about{padding:0;}
.welcome_sec.footer_about .welcome_message{padding-top:35px;}
.access_link_box a.invite_friends{background-color:#ff6d43;}

.invite_logged_box{width:100%;float:left;text-align:center;}
.invite_logged_box .access_link_box{width:455px;float:none;border:2px dotted #8E8875;padding:35.86px;margin:60px auto 180px;}
.invite_logged_box .access_link_box p{font-family: 'Roboto', sans-serif;font-size:13.5px;font-weight:400;color:#79756B;letter-spacing:0.8px;line-height:22px;padding-bottom:40.34px;}
.invite_logged_box .access_link_box a{background-color:#ff6d43;}



/*footer terms page*/

/*invite page css starts here*/

.invite_box{float: left;width:100%;padding:25px 0;}
.invite_box .invite_img{float:left;width:25%;}
.invite_box .invite_img img{width:100%;}
.invite_box .invite_middle{float:left;width:45%;margin:0 25px;text-align: center;}
.invite_box .invite_middle h2{font-size:45.5px;font-family: 'Times New Roman', sans-serif;font-weight:700;color:#786E62;letter-spacing:1.8px;padding-top: 25px;}
.invite_box .invite_middle h2 span{font-family:"segoescript";font-size:39.1px;}
.invite_box .invite_middle ol{display:block;list-style-position: inside; padding: 60.43px 0 30.83px;}
.invite_box .invite_middle ol li{padding-bottom:30px;font-family: 'Roboto', sans-serif;font-size:21px;font-weight:700;color:#786E62;}
.invite_box .invite_middle a{font-family: 'Roboto', sans-serif;font-size:13.89px;font-weight:700;color:#ffffff;background-color:#EC653D;padding:8px 26px;text-align:center;display:inline-block;border-radius:5px;}

.invite_box .invite_right{float:left;width:25%;background-color:#B8A691;padding:40px 35px; margin-top: 15px;}
.invite_box .invite_right p{font-family: 'Roboto', sans-serif;font-size:15px;font-weight:700;color:#ffffff;line-height:22px;text-align: center;padding-bottom:20px;}
.invite_box .invite_right p:last-child{padding:0;}



.invitation_links{float: left;width:100%; padding:0 0 92px 0;}
.invitation_links .invite_link_box{position:relative;float: left;width:calc(100%/3 - 25px);min-height:390px;text-align: center;border:2px dotted #8E8875;margin:0 18px;padding:32px;}
.invitation_links .invite_link_box:first-child{margin-left:0}
.invitation_links .invite_link_box:last-child{margin-right:0}
.invitation_links .invite_link_box h3{font-family: 'Roboto', sans-serif;font-size:18px;font-weight:600;color:#72705E;padding-bottom:35px;letter-spacing:0.8px;}
.invitation_links .invite_link_box p{font-family: 'Roboto', sans-serif;font-size:13px;font-weight:500;color:#7C7962;letter-spacing:0.8px;min-height:60px}
.invitation_links .invite_link_box:last-child p{min-height:auto;}

.invitation_links .invite_link_box .form-control input{padding:10px;width:100%;border:1px solid #6C6967;}
.invitation_links .invite_link_box form a{display:block;font-family: 'Roboto', sans-serif;font-size:13px;font-weight:500;color:#7C7962;text-align:left;padding:23.06px 15px;}
.invitation_links .invite_link_box button{width:100%;text-align:center;background-color:#EC653D;outline:0;border-radius:4px;color:#ffffff;box-shadow:none;border:none;font-family: 'Roboto', sans-serif;font-size:18px;font-weight:500;letter-spacing:0.8px;padding:10px;margin-top:60px;}
.invitation_links .invite_link_box button.web_invite{margin:28px auto 48px;padding:8px;}
.invitation_links .invite_link_box p.web_bottom_text{min-height:auto;letter-spacing:1.8px;}

.invitation_links .invite_link_box .social_invite{float:left;width:100%;padding:25px 30px;}
.invitation_links .invite_link_box .social_invite a{margin-top:20px;display:block;padding:16px 15px;color:#ffffff;position:relative;}
.invitation_links .invite_link_box .social_invite a img{position:absolute;left:20px;top:10px;}
.invitation_links .invite_link_box .social_invite a.m_invite{background-color:#3A76BB;}
.invitation_links .invite_link_box .social_invite a.f_invite{background-color:#3C5998;}


.invitation_links .invite_link_box .invite_message_sent{position:absolute;padding:25px 0 0;text-align: center;width:100%;bottom:-80px;left:0;}
.invitation_links .invite_link_box .invite_message_sent p{min-height:auto;padding-bottom:15px;}


/*INVITE MORE DETAIL POP UP*/

.invite_popup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(178,178,177,0.6); /* Black w/ opacity */
}

/* Modal Content */
.invite_popup .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding:24px;
    border:none;
    width: 80%;
    padding-top: 17.23px;
}

/* The Close Button */
.invite_popup .close {
    color: #aaaaaa;
    float: right;
    
    font-weight: bold;
}

.invite_popup .close:hover,
.invite_popup .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.invite_popup .modal-content {
    display: block;
    max-width: 821.9px;
    word-wrap: break-word;
}

.invite_popup .modal-content p {
    font-family: 'Roboto', sans-serif;
    font-size:14px; 
    font-weight:400; 
    text-align: center;
    padding: 51.2px 100px 25px;
    padding-top: 0;
    color:#6B6958;
    line-height:22px;
    letter-spacing:0.5px; 
}

.invite_popup .modal-content h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:19px; 
    padding-top: 51.36px;
    padding-bottom: 33.75px;
    color:#6B6958;
}

.invite_popup .modal-content h4 span{font-family:"segoescript";}

/*INVITE MORE DETAIL POP UP*/


/*Invite page css ends here*/

/*Upcoming sales page css*/


/*Upcoming sales page css*/

.upcoming_sales_main{padding-bottom:155.3px;}
.upcoming_sales_heading h2{font-size:26px;font-family:'Times New Roman', sans-serif;font-weight:600; color:#6F6B60;padding-top:44.6px;}
.upcoming_sales_heading h2 span{font-style:italic;font-family: 'Times New Roman', sans-serif;}
.upcoming_sales_main .sales_box_sec{float: left;width:100%;border-bottom:3px dotted #8E8875;padding-top:35px;}
.sales_box_sec .sales_item_1{float:left;width:40%;}
.sales_box_sec .sales_item_1 img{width:100%;}
.sales_box_sec .sales_item_1 .sales_item_heading{padding:13.49px 9.8px;}
.sales_box_sec .sales_item_1 .sales_item_heading h3{font-size:21px;font-family:'Times New Roman', sans-serif;font-weight:600; color:#6F6B60;padding-bottom:5px;letter-spacing:0.6px;}
.sales_box_sec .sales_item_1 .sales_item_heading h4{font-family: 'Roboto', sans-serif;font-size:13px;font-weight:400;color:#7A7665;letter-spacing:0.6px;}

.sales_box_sec .sales_item_2{float:left;width:38%;text-align: center;}
.sales_box_sec .sales_item_2 > p{font-family: 'Roboto', sans-serif;font-size:13px;font-weight:400;padding:9.039px 0px 64.665px 70px;color:#7A7665;letter-spacing:0.6px;text-align:left;}
.sales_box_sec .sales_item_2 > p:first-child{font-weight:500;}
.sales_box_sec .sales_item_2 ul{width:100%;text-align: center;padding-top: 10px;}
.sales_box_sec .sales_item_2 ul li{float:none;display:inline-block;padding:0 8px;}
.sales_box_sec .sales_item_2 ul li p {padding-bottom: 8px; padding-top: 20px;font-size: 13px; font-family: 'Roboto', sans-serif; font-weight:600; color:#828173;}
.sales_box_sec .sales_item_2 ul li p del{padding-left:17px;}


.sales_box_sec .sales_item_description{float:left;width:22%;text-align: center;padding:0 30px;}
.sales_box_sec .sales_item_description h3{font-size:19px;font-family:'Times New Roman', sans-serif;font-weight:600; color:#6F6B60;padding-bottom:15px;letter-spacing:0.6px;}
.sales_box_sec .sales_item_description p{font-family: 'Roboto', sans-serif;font-size:13px;font-weight:400;color:#7A7665;letter-spacing:0.4px;line-height:20px;}
.otherSales .strip.upcoming_sale_strip p{font-weight:400;}
.otherSales .follow.upcoming_up_arrow{position:static;padding:0;}


/*Responsive Design by Harish*/


@media (max-width:1279px)
{
  .pro_large_img{width:55%;}
  .pro_order_desc{width:35%;}
  .pro_order_desc .button{width:250px;}
  .pro_order_desc .pro_dif_sizes .pro_sizes{width:345px;}
  .more_products_sizes .pro_order_desc .pro_order_place select{padding:4px 25px;}
  .more_products_sizes .pro_order_desc .pro_dif_sizes .pro_sizes{width:330px;}
  .footer_follow_content .text_section p{padding:0 15px;}
  .invite_top{padding: 0 15px;}
  .invite_box .invite_middle{margin:0 20px;}
  .sales_box_sec .sales_item_2 ul li{padding:0;}

}


@media (max-width:991px)
{
  .topSellers.other_sales_pro ul li {
    width: calc(100%/3 - 30px);
    margin-bottom:25px;}

  .pro_thumbnail_sec{width: 20%;}
  .pro_large_img{width:80%;}
  .pro_order_desc{width:100%;padding:10px 15px;text-align:center;}
 
  .pro_order_desc .about_pro{width:100%;}
  .more_products_sizes .pro_order_desc{width:100%;text-align: center;}

  .more_products_sizes{padding-top:25px;}
  .pro_order_desc .pro_dif_sizes{text-align:center;}

  .more_products_sizes .pro_order_desc .pro_order_place select{padding:4px 35px;}

  .footer_faq .faq_list_div ul li{margin:10px 3px;width:calc(100%/6 - 7px)}

  .footer_follow_content.imprint_main_sec .text_section{width:100%;text-align:center;}
  
  .footer_follow_content.imprint_main_sec .imprint_img_sec{width:100%;text-align:center;}  
  .footer_follow_content.imprint_main_sec .text_section p{text-align:center;}

  .invite_box .invite_img{width:100%;text-align: center;}
  .invite_box .invite_img img{width:auto; }
  .invite_box .invite_middle{width:100%;}
  .invite_box .invite_right{width:100%;}

  .invitation_links .invite_link_box{min-height:435px;padding:32px 10px;}
  .invitation_links .invite_link_box .social_invite{padding:25px 0;}

  .upcoming_sales_main{padding:15px 15px 150px;}
  .sales_box_sec .sales_item_1{width:50%;}
  .sales_box_sec .sales_item_2{width:50%;}
  .sales_box_sec .sales_item_2 > p{padding-bottom:50px;}
  .sales_box_sec .sales_item_description{width:100%;padding:50px;}
}


@media (max-width:767px)
{

  .cart_div .timer_div{right:0;top:35px;}

  .pro_desc_gallery{padding-bottom:25px;}
  
  .pro_order_desc .pro_price_sec{float: none;text-align: center;}
  .pro_order_desc .pro_order_place{float: none;text-align: center;}
  .pro_order_desc .button{margin-bottom:45px;}

  .topSellers.other_sales_pro ul li {
    width: calc(100%/2 - 30px);
    margin-bottom:25px;}

  .pro_re_more_inform .more_inform_con{padding:0 10px;}
  .pro_re_more_inform .about_dis_sale {
    width: 100%;
    padding: 0 100px;}

  .pro_re_more_inform .block-side-sec{width:100%;}

  .pro_re_more_inform .block-side-sec ul li{width: calc(100%/2);border-right: none;}
/*  .pro_re_more_inform .block-side-sec ul li.right_border_sm{border-right: 2px solid #EC008B;}
*/
  .access_link_box a{width:100%;}
  .member_login_sec.access_bg{min-height:450px;}
  .member_login_sec{min-height:450px;}


  .footer_faq .faq_list_div{padding:31.8px 20px 80px;}

 .invitation_links .invite_link_box{width:100%;margin:0 auto 10px;min-height:auto;}
 .invitation_links .invite_link_box .invite_message_sent{position:static;}


  .sales_box_sec .sales_item_1{width:100%;}
  .sales_box_sec .sales_item_1 .sales_item_heading{text-align: center;}
  .sales_box_sec .sales_item_2{width:100%;padding-top:70px;}
  .sales_box_sec .sales_item_2 > p{padding-bottom:50px;text-align: center;padding-left:0;}
  .sales_box_sec .sales_item_description{width:100%;padding:50px;}

}


@media (max-width:680px){
  .member_login_sec{background-position:50% 100%;}
  .become_member_div{width:100%;}
  .become_member_div .form-group{width:100%;}
  .become_member_div a{width:100%;}
}


@media (max-width:479px)
{

  .pro_thumbnail_sec{width:30%;}
  .pro_large_img{width:70%;padding:0 15px;}

  .topSellers.other_sales_pro ul li {
    width: calc(100% - 30px);
    margin-bottom:25px;}

  .pro_re_more_inform .about_dis_sale {
    width: 100%;
    padding: 0 20px;}

  .pro_re_more_inform .block-side-sec ul li{width:100%;border-right: none;}
  .pro_re_more_inform .block-side-sec ul li.right_border_sm{border-right:none;}

  .pro_order_desc .pro_dif_sizes .pro_sizes{width:100%;}
  .pro_order_desc .pro_sizes{width:100%;}

  .pro_order_desc .pro_order_place select{margin:25px auto -10px;display:block;}
  .pro_order_desc .button{width:100%;}
  .more_products_sizes .pro_order_desc .pro_dif_sizes .pro_sizes{width:100%;}
  .become_member_div{padding: 10.5px 30px 30.6px;}
  .become_member_div .form-group{margin: 25.7px auto;}
  .become_member_div .form-group input{line-height:22px;}
  .become_member_div form > p span{line-height:22px;}

  .access_bg .become_member_div h3{padding-top:35px;}
  .become_member_div form > p.recover_pwd_message{padding-top:35px;}

  .reset_password_div.become_member_div{padding:28.5px 20px 5.5px;}

  .footer_form_div .form-group{width:100%;}
  .footer_form_div .form-group label{width:100%;text-align:left;}
  .footer_form_div .form-group input{width:100%;}
  .footer_form_div .form-group textarea{width:100%;}
  .footer_form_div .form_sent_message{width:100%;}
  .footer_form_div .form-group button{float:none;}
  .footer_form_div .form_sent_message p{float:none;width:100%;}
  .footer_form_div .form_sent_message img{right:45%;}

  .invite_logged_box{padding:0 15px;}
  .invite_logged_box .access_link_box{width:100%;}

  .sales_box_sec .sales_item_2 ul li {
    padding: 15px 0;
    width: 100%;
}

  }

.tab_drawer_heading { display: none; }
/*.tab_container .tab_content{padding-bottom:5px;}
*/
@media screen and (max-width:768px) {
  .tabs {
    display: none;
  }
  .tab_drawer_heading {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:400; 
    background-color:#DADAD9;
    color:#79756B;
    /* border-top: 1px solid #333; */
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 5px;
  }
  .d_active {
    background-color:#EC653D;
    color: #ffffff;
  }


.invite_popup .modal-content p{padding: 51.2px 0px;}

}







/*-------------------------ADD CSS FROM RAHUL SHARMA-----------------------------------*/
/*Text Pop Up*/


/*COMMON CODE FOR POP UP DELEVERY TIME AND START HERE*/
.product_redesign_popup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.product_redesign_popup .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    padding-top: 17.23px;
}

/* The Close Button */
.product_redesign_popup .close {
    color: #aaaaaa;
    float: right;
    
    font-weight: bold;
}

.product_redesign_popup .close:hover,
.product_redesign_popup .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product_redesign_popup .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 821.9px;
    word-wrap: break-word;
}

.product_redesign_popup .modal-content p {
    text-align: center;
    padding: 51.2px 100px;
    padding-top: 0;
}

.product_redesign_popup .modal-content h4 {
    text-align: center;
    padding-top: 31.229px;
    padding-bottom: 34.216px;
}
/*POP UP CODE ENDS HERE*/

/*Resposive Added by Rahul*/
@media(max-width:767px){
.product_redesign_popup .modal-content p{padding: 51.2px 0px;}
.product_redesign_popup .modal-content p{padding: 51.2px 0px;}
}


/*-------------------------Add Css From Rahul sharma-----------------------------------*/




/* css by Amit */
.clearfix::after {content: "";clear: both;display: table;}

/** Affiliate page css **/
.affiliateProgramm {padding:30.58px 0px 45.46px;}
.affiliateProgramm .bannerBox{float:left;width:385px;margin-right:55.86px;}
.affiliateProgramm .bannerBox img{max-width:100%;width:100%;}
.affiliateProgramm .infoBox{width:500px;float:left;margin-right:35px;}
.affiliateProgramm .infoBox p{font-size:15px;color:#646658;font-family: 'Roboto', sans-serif;margin-bottom: 7px;line-height: 22px;}
.affiliateProgramm .infoBox h3{font-size:20px;color:#58585B;font-family: 'Source Sans Pro', sans-serif;margin:12px 0px 25px;}
.affiliateProgramm .affiliate_signin{float:right;text-align:right;margin-top:17px;}
.affiliate_signin .circle{height:225px;width:225px;display:table;background:#F16521;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;}
.affiliate_signin .circle .adjust{display:table-cell;height:100%;width:100%;vertical-align:middle;color:#ffffff;font-weight:500;font-size:20px;font-family: 'Source Sans Pro', sans-serif;}
.compensate-appriciate .compensation{float:left;width:310.40px;margin-right:31.86px;}
.compensate-appriciate .how-appreciate{float:right;width:865.7px;}
.compensate-appriciate h4{color:#6D6E70;font-size:17px;font-family: 'Source Sans Pro', sans-serif;background:#E6E7E8;height:27.05px;margin-bottom:9.92px;line-height: 28px;}
.compensate-appriciate .detailinfo{background:#F1F1F2;padding:20px 15px;float:left;width:100%;}
.detailinfo .payOut{padding: 12.5px 0px;}
.detailinfo .payOut, .detailinfo .dtlColumns{font-size:14px;color:#646658;font-family: 'Roboto', sans-serif;text-align:center;}
.detailinfo .payOut label{font-weight:500;}
.detailinfo .dtlColumns{float:left;width:33.33%;text-align:center;}
.detailinfo .dtlColumns h6{font-weight:500;font-size:14px;margin-bottom:10px;}
.detailinfo .dtlColumns p{font-size:12px;line-height:18px;}
.affiliate-last ul{list-style-type:none;margin:0px;padding:0px;display:table;width:100%;}
.affiliate-last ul li{list-style-type:none;margin:0px;padding:0px;display:table-cell;text-align:center;vertical-align: middle;float:none;}

/** Account Page css **/
.myAccount .EditInfohead{font-size: 13px;color: #79756B;font-family: 'Roboto', sans-serif;font-weight: 500;text-align: center;padding: 17.25px 0px 24.22px;margin-bottom: 35.18px;border-bottom: 2px dotted #8f8875;}
.myAccount .myOrderHead{margin-bottom:16.25px;}
.myAccount .page-head{height: 26.597px;background: #C2AE96;margin-bottom:9.5px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;-o-border-radius: 5px;-ms-border-radius: 5px;color:#ffffff;font-size:16px;text-align:center;font-family: 'Roboto', sans-serif;margin-top:12px;line-height: 27px;}
.myAccount .leftmenu{float:left;width:304.80px;margin-right: 30px;}
.myAccount .leftmenu ul{padding:0;margin:0;list-style-type:none;}
.myAccount .leftmenu ul li{display: block;width: 100%;margin-bottom: 9.5px;}
.myAccount .leftmenu ul li a{background: rgba(218, 218, 217, 0.3);color: #79756B;font-size: 14px;font-family: 'Roboto', sans-serif;font-weight: 500;height: 52.42px;display: block;text-align: center;line-height: 43px;border: 4px solid #f7f7f7;transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;}
.myAccount .leftmenu ul li:hover a, .myAccount .leftmenu ul li.active a{background:#EC653D;border:4px solid #EC653D;color:#ffffff;}
.account-main{float:left;width: 873px;margin-bottom:100px;position:relative;}
.admin_pswd_change_box{position:relative;min-height:75px;}
.admin_password_change {padding-top:20px;/* width: 255px; */ text-align: center; /* float: right; */ position: absolute; /* bottom: 0; */ right: 290px; } .account-main form .form-group{margin-bottom: 18.67px;}
.admin_password_change p{padding-bottom:10px;}
.account-main form .form-group label{display: inline-block;width: 37%;margin-right: 34.95px;text-align: right;font-size:13px;color:#827A6C;font-family: 'Roboto', sans-serif;}
.account-main form .form-group .form-control{width: 272.25px;height: 33.62px;border: 1px solid rgba(108, 105, 103, 0.15);padding: 5px 7px;font-size:13px;color:#79756B;font-family: 'Roboto', sans-serif;}
.account-main .btn, .btn-theme{height: 34.79px;width: 272.25px;background: #EC653D;border: 2px solid #EC653D;font-family: 'Open Sans', sans-serif;color: #ffffff;border-radius: 5px;font-size:16px;font-weight:500;cursor: pointer;padding: 5px 7px;margin-top: 28px;transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;}
.account-main form .form-group .btn:hover, .btn-theme:hover{opacity:0.9;}

/* newsletter */
.newsletterList ul{margin:0;padding:0;list-style-type:none;float:left;width:100%;text-align:center;}
.newsletterList ul li{display:block;margin-bottom:15.99px;float:left;width:100%;padding-left: 34px;}
.newsletterList ul li input{display:none;}
.newsletterList ul li input + label{position:relative;display:block;padding:0px 15px;cursor:pointer;width:635.16px;margin-left:auto;margin-right:auto;border:2px solid #DADAD9;min-height:111px;}
.newsletterList ul li input + label:after{content:"";height:26px;width:26px;display:block;position:absolute;left:-67.32px;top:50%;
transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);-o-transform: translateY(-50%);
border:1px solid #6C6967;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
-ms-border-radius:50%;-o-border-radius:50%;}
.newsletterList ul li input:checked + label{border:2px solid #EB653C;}
.newsletterList ul li input:checked + label:before{content:"";height:14px;width:14px;display:inline-block;background:#EB653C;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
-ms-border-radius:50%;-o-border-radius:50%;left:-60.32px;top:50%;
transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);-o-transform: translateY(-50%);position:absolute;}
.newsletterList ul li input + label h4{font-size:19px;font-weight:500;color:#7A7165;margin-top:35px;font-family: 'Roboto', sans-serif;}
.newsletterList ul li input + label p{color:#7A7165;font-size: 14px;font-family: 'Roboto', sans-serif;margin-bottom: 10px;}
.account-main .newsletterList .btn{margin-top: 37px;width: 278.32px;height: 35px;}

/** My Order **/
.table-responsive{overflow-y:auto;}
.myOrderList table{width:100%;border-collapse:collapse;}
.myOrderList tr th{color:#ffffff;font-size:14px;font-weight:normal;font-family: 'Roboto', sans-serif;background: #9D9C9C;text-align:left;height:37.49px;padding:5px 20px;}
.myOrderList tr th.text-center{text-align:center;}
.myOrderList tr th:first-child{border-top-left-radius:5px;-moz-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;-o-border-top-left-radius:5px;-ms-border-top-left-radius:5px;border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;-ms-border-bottom-left-radius:5px;-o-border-bottom-left-radius:5px;}
.myOrderList tr th:last-child{border-top-right-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-o-border-top-right-radius:5px;-ms-border-top-right-radius:5px;border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;-o-border-bottom-right-radius:5px;-ms-border-bottom-right-radius:5px;}
.myOrderList tr td{font-size:13px;font-weight:normal;font-family: 'Roboto', sans-serif;color:#79756B;padding:10.31px 20px;height: 54.25px;}
.myOrderList tr td .btn{width: 278.08px;margin: 0px;height:34.76px;}
.myOrderList tr td:last-child{width:285px;}
.couponList tr td:last-child{width:inherit;}
.myOrderList tbody tr{border-bottom: 2px dotted #8f8875;}
.myOrderList .couponInfo{margin-top:35.20px;}
.couponList .couponInfo p{margin-bottom:20px;line-height:20px;text-align:center;font-size:13px;color:#79756B;font-family: 'Roboto', sans-serif;padding: 0px 30px;}
.orderMain h6 .totalOrder{float:left;font-family: 'Roboto', sans-serif;font-size:10px;}
.orderMain .totalOrder a{color: #84806B;text-decoration:underline;}
.productorderData table{width:100%;border:1px solid #6C6967;border-collapse: collapse;}
.productorderData table td{border-bottom:1px solid #6C6967;padding: 15px;color:#7C7961;font-size:14px;font-family: 'Roboto', sans-serif;line-height:21px;}
.productorderData table td p{font-size:13px;margin-top:12px;}
.productorderData table td span.small{font-size:13px;}
.productorderData table td.valignTop{vertical-align:top;padding-top:10px;}
.productorderData table td .marginTopTd{margin-top:15px;}
.productorderData table td.proImg{width:180px;}
.productorderData table td.proImg img{max-width:100%;}
.orderContent .leftContent{float:left;width:68%;margin-right:2%;}
.orderContent .leftContent p{color: #7C7961;font-size:12px;font-family: 'Roboto', sans-serif;margin-bottom: 10px;}
.orderContent .sidebarRight{background:#C2AE95;float:right;padding:30px;width:23%;color:#ffffff;text-align:center;margin-top:20.50px;}
.orderContent .sidebarRight p{font-family: 'Roboto', sans-serif;font-size:15px;font-weight:500;}
.orderContent .sidebarRight h6{font-family: 'Roboto', sans-serif;font-size:17px;font-weight:500;padding:30px 0px;}
.orderContent .sidebarRight .email{font-family: 'Roboto', sans-serif;font-size:24px;font-weight:500;word-break: break-all;}
.orderContent .leftContent .instruct{margin:34px 0px;padding-left:26.51px;}
.orderContent .checkoutTotal{padding:30px;background:#ECECEC;width: 491px;}
.checkoutTotal ul{list-style-type:none;margin:0;padding:0;}
.checkoutTotal ul li{display:block;font-family: 'Roboto', sans-serif;}
.checkoutTotal label, .checkoutTotal span{font-size:13px;color:#726F5D;display:inline-block;width:50%;}
.checkoutTotal span{text-align:right;}
.chargesList{float:left;width:100%;margin-bottom:20px;}
.chargesList ul, .chargesList ul li{float:left;width:100%;}
.checkoutTotal span{width:47%;}
.instructionsList{float:left;width:100%;margin-top:29.13px;padding-top:26.87px;border-top:2px dotted #cccccc;border-top: 2px dotted #8E8875;}
.instructionsList ul{list-style-type:none;padding:0;margin:0;}
.instructionsList ul li{float:left;width:100%;padding-left:8px;font-family: 'Roboto', sans-serif;font-size:11px;color:#838173;position:relative;line-height:16px;}
.instructionsList ul li:before{content:"*";position:absolute;top:1px;left:0px;height:10px;width:9px;display:inline-block;}
@media (max-width:1207px){
 .row{padding:0px 10px;}
 .affiliateProgramm .bannerBox {width: 30%;margin-right: 2%;}
 .affiliateProgramm .infoBox {width: 47%;margin-right: 2%;}
 .affiliate_signin .circle {height: 180px;width: 180px;}
 .compensate-appriciate .compensation {width: 26%;margin-right: 2%;}
 .compensate-appriciate .how-appreciate {width: 72%;}
 .affiliateProgramm .infoBox p{word-break: break-all;}
 .account-main {width: 67%;margin-bottom: 160px;}
 .myAccount .leftmenu {width: 30%;margin-right: 3%;}
 .newsletterList {margin-left: 50px;}
 .newsletterList ul li input + label{width:100%;}
}
@media (max-width:1023px){
 .account-main{margin-bottom:20px;}
 .newsletterList ul li input + label h4{margin-top:21px;}
 .orderContent .leftContent {width: 100%;margin-right: 0%;}
 .orderContent .checkoutTotal{width:100%;}
 .orderContent .sidebarRight{float:left;width:100%;}
}
@media (max-width:991px){
 .affiliateProgramm .bannerBox {width: 46%;margin-right: 4%;}
 .affiliateProgramm .infoBox {width: 50%;margin-right: 0%;}
 .affiliate_signin .circle {height: 225px;width: 225px;display: inline-table;}
 .affiliateProgramm .affiliate_signin{float:left;display:block;margin-top:30px;width:100%;text-align:center;}
 .compensate-appriciate .compensation {width: 100%;margin-right: 0%;margin-bottom:20px;}
 .compensate-appriciate .how-appreciate {width: 100%;}
}
@media (max-width:767px){
 .detailinfo .dtlColumns{width:100%;margin:10px 0px;}
 .affiliateProgramm .bannerBox {width: 100%;margin-right: 0%;margin-bottom:20px;}
 .affiliateProgramm .infoBox {width: 100%;}
 .myAccount .leftmenu {width: 100%;margin-right: 0%;}
 .account-main {width:100%;}
 .account-main form .form-group label{text-align:left;width:100%;margin-right:0;margin-bottom:5px;}
 .account-main form .form-group .form-control{width:100%;}
 .account-main form .form-group .btn{margin-top:0px;}
 .newsletterList {margin-left: 34px;}
 .couponList .couponInfo p{padding:0px;}
 .productorderData table{min-width:480px;}
 .productorderData table td.proImg {width: 94px;}
 .admin_password_change{position: static;}
}
@media(max-width:360px){
  .account-main .newsletterList .btn, .account-main .btn{width:100%;}
  .myAccount .EditInfohead{text-align:left;}
  .myAccount .EditInfohead .totalOrder{width:100%;margin-bottom:5px;}
}
