<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>


<footer>
	       <div class="icon-top">
	       <span class="up-arrow">
              <img src="http://dario.n2.iworklab.com/pub/media/wysiwyg/custom/up.png" alt="">
			</sapn>
		</div>

			<div class="container">
				<div class="row">
					<div class="col-xs-12">

					

						<ul class="list-inline list-unstyled text-center footer-middle">
							
					<li>
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('loving')->toHtml();?> 
					</li>

					<li>	
					 <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('careful')->toHtml();?> 
					</li>

					<li>
			       <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('trusted')->toHtml();?> 
					</li>

					<li>	
				   <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ask')->toHtml();?> 
					</li>

						</ul>



						<ul class="footer-bottom">
				  <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-bottom-menu')->toHtml();?> 

						</ul>


						 <ul class="list-inline list-unstyled text-center social-icons">	
				  <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-social')->toHtml();?> 

						</ul> 
						
					
					</div>
				</div>
			</div>
		</footer>

		<div class="footer foot-mobile">
         <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-mobile-bottom')->toHtml();?> 
			</div>
		</div>


<!-- 
<div class="footer-container">
    <div class="footer">
        <?= $block->getChildHtml() ?>
        <p class="bugs"><?= /* @escapeNotVerified */ __('Help Us Keep Magento Healthy') ?> - <a
            href="http://www.magentocommerce.com/bug-tracking"
            target="_blank"><strong><?= /* @escapeNotVerified */ __('Report All Bugs') ?></strong></a>
        </p>
        <address><?= /* @escapeNotVerified */ $block->getCopyright() ?></address>
    </div>
</div>
-->