<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
?>

<?php
$welcomeMessage = $block->getWelcome();

$_loggedin = $this->helper('Magento\Checkout\Helper\Cart')->getCart()->getCustomerSession()->isLoggedIn();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
// $store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
?>

<!-- header -->
    <header>
        <div class="container">
        
                <div class="top">
                            <div class="pull-left menu-left">
                                <a href="#">
                                    <p>Der Shopping-Club für Interior-Fans!</p>
                                </a>

                            </div>
                        
                            <div class="pull-right menu-right">
                                <a href="#">
                                    <p><span class="first">Gutscheine</span> <span class="font">erhalten</span></p>
                                </a>
                            </div>
                </div>
                <div class="toggle">
                     <img src='<?php echo $this->getViewFileUrl('images/toggle.png'); ?>' alt="toggle Image">
                </div>
                <div id="menu">
                    <p><a href="#" class="active">Heute im Sale</a></p>
                    <p><a href="#">Kommende Sales</a></p>
                    <p><a href="#">Einladen</a></p>
                </div>
                <div class="middle">
                   <a href="<?= $block->getUrl('') ?>"> <?php echo $this->getChildHtml('logo'); ?></a>
                </div>
                <div class="bottom">
                    <div class="pull-left menu-left">
                        <a href="#">
                        <img src='<?php echo $this->getViewFileUrl('images/login.png'); ?>' alt="Account Image">
                        </a>

                
                       
                     <?php if( $_loggedin ) : ?>  
                        
                    <div class="menu-two">
                        <p><a href="#">hans.meier ()hhhhh</a></p>
                        <p><a href="#">Meine Zugangsdaten</a></p>
                        <p><a href="#">Meine Bestellungen</a></p>
                        <p><a href="#">Meine Gutscheine</a></p>
                        <p><a href="#">Meine Newsletter</a></p>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Kontakt</a></p>
                        <p><a href="#">Über uns</a></p>
                        <p><a href="/customer/account/">Account</a></p>
                        <p><a href="/customer/account/logout">Logout</a></p>
                    </div>

                    <div class="menu">
                        <p><a href="#">hans.meier ()hhhhh</a></p>
                        <p><a href="#">Meine Zugangsdaten</a></p>
                        <p><a href="#">Meine Bestellungen</a></p>
                        <p><a href="#">Meine Gutscheine</a></p>
                        <p><a href="#">Meine Newsletter</a></p>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Kontakt</a></p>
                        <p><a href="#">Über uns</a></p>   
                        <p><a href="/customer/account/">Account</a></p>
                        <p><a href="/customer/account/logout">Logout</a></p>
                    </div>  

                     <?php else: ?>

                    <div class="to_loggedin_menu">
                 <p><a href="/customer/account/login">Einloggen</a> <span> / </span> <a href="/customer/account/create">Registrieren</a></p>
                </div>

                <?php endif; ?>

                    </div>


                           <ul class="list-inline list-unstyled">
                                <li><a href="#" class="active">Heute im Sale</a></li>
                                <li><a href="#">In Kürze</a></li>
                                <li><a href="#">Einladen</a></li>
                            </ul>     
                            <div class="head-mini-cart pull-right cart_div">
                                <div class="timer_div">
                                   
                                     <div class="extend_div">
                                        <span class="extend_text">Verlängern</span>
                                        <span class="timer_gap">-</span>
                                        <span class="extend_timer">02:00</span>
                                    </div>
                                   
                                </div>
                                 <?php echo $this->getChildHtml('minicart'); ?>

                            </div>
                </div>
        </div>
    </header>




    <?php if( $_loggedin ) : ?>

    <div class="dsd">

    </div>

    <?php else: ?>

    <div style="display: none;" class="home-landing">
        <div class="land-over">

    <section class="header_top">
        <div class="logo_header">
            <span>
                <img src='<?php echo $this->getViewFileUrl('images/sign_up_logo.png'); ?>' alt="cart Image">
            </span>
            <p>Der Shopping-Club für hübsche Möbel und Wohnaccessoires.<br> Täglich neue Sales. Exklusiv für Mitglieder.</p>
        </div>

        <div class="access_link_box">
            <a class="become_member" href="#">Mitglied werden</a>
            <a class="login_facebook" href="#">Weiter mit Facebook</a>
        </div>

        <div class="member-login">
         <?php echo $this->getLayout()->createBlock("Magento\Customer\Block\Form\Login")->setTemplate("Magento_Customer::form/headerlogin.phtml")->toHtml();?>

         <a class="login_facebook" href="#">Weiter mit Facebook</a>
        </div>

           <div class="member-regstr">
         <?php echo $this->getLayout()->createBlock("Magento\Customer\Block\Form\Register")->setTemplate("Magento_Customer::form/headerregister.phtml")->toHtml();?>

         <a class="login_facebook" href="#">Weiter mit Facebook</a>
          </div>

        <div class="member_login">
            <p>Beretis Mitglied?<a class="logn" href="#">Hier einloggen</a></p>
        </div>

        <div class="member_regstr">
            <p>Beretis Mitglied?<a class="rgstr" href="#">register here</a></p>
        </div>


    </section>  

    <?php  echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('landing-page')->toHtml();?>

</div>

</div>

<?php endif; ?>
