<?php

/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;
namespace Magento\Catalog\Model\ResourceModel\Product\CollectionFactory;
namespace Magento\Framework\View\Element\Template\Context;
namespace Magento\Framework\ObjectManagerInterface;
namespace Magento\Catalog\Model\CategoryFactory;
// @codingStandardsIgnoreFile

?>

<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
	$cateinstance = $objectManager->create('Magento\Catalog\Model\CategoryFactory');
	$_helper = $this->helper('Magento\Catalog\Helper\Output');   
	$pos = $block->getPositioned(); 
	$image = 'category_page_grid'; 
	$_reviewFactory = $objectManager->create('Magento\Review\Model\Review');
?>   


<?php $cateid = '2';
	                    $_productCollection = $cateinstance->create()->load($cateid)->getProductCollection()->addAttributeToSelect('*')->setOrder('created_at', 'asc');  
?>
<!--New arrival-->
       
                <div id="top-seller" class="tp-seller">
                   <ul class="list-inline list-unstyled">

		    <?php foreach($_productCollection as $_product): ?>
			 <?php //$productImage = $block->getImage($_product, $image); 
$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
$image = $imagehelper->init($_product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(140)->getUrl();
                                    ?>
                    <li>  
                         <div class="item_outer">
                        
                         <div class="iten_inner_img">
                            <a href="<?php echo $_product->getProductUrl(); ?>">
                            <img src="<?php echo $image; ?>" />
                        </a>

                    </div>

                           <!--
                        <div class="item-info">
                            <a href="<?php echo $_product->getProductUrl(); ?>">
                            <h5><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></h5>
                           <h6>Multi-Layred Gown</h6>

                          
                          
                            <?php  $_finalPrice=$_product->getFinalPrice(); 

				                        $_price=$_product->getPrice();

				                       /* $off = '';
				                        if($_finalPrice < $_price){
				                            $off = '('.(100 - round(($_finalPrice / $_price)*100)).'% off)'; 
							}  */

					         ?>
                               <h5> <?php echo $_price; ?> <span><?php echo $_finalPrice; ?> (Retail)</span> </h5>
                           </a>
                        </div>  -->

                      </div>
                    </li>
                     <?php endforeach; ?>
                 </ul>
                </div>
           
        <!--New arrival Ends-->


